FORMAT: 1A
HOST: http://demo.bamboo-video.com/api/

# Bamboo API

This is the Bamboo API, please email support@panda-os.com for any questions.

# bamboo-video
The Bamboo Video API is a RESTful API

# Group Entries
Media Entries related resources of the **Bamboo Video API**

## Entries Collection [/entry]
### List all Entries [GET]
+ Response 200 (application/json)

        {"data":[{"mediaType":1,"conversionQuality":"4573522","sourceType":"1","searchProviderType":null,"searchProviderId":"","creditUserName":"","creditUrl":"","mediaDate":null,"dataUrl":"https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https","flavorParamsIds":"0,301991,487041,487051,487061,487081,487091,487111,823821,827231","plays":707,"views":1286,"lastPlayedAt":1461560407,"width":1920,"height":816,"duration":90,"msDuration":90000,"durationType":"","id":"1_izramf08","name":"Star Wars: Episode VII - The Force Awakens.","description":"A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).","partnerId":33942,"userId":"demo@panda-os.com","creatorId":"demo@panda-os.com","tags":"action","adminTags":"","categories":"PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured","categoriesIds":"21672221,21672271,31368441","status":"2","moderationStatus":6,"moderationCount":0,"type":"1","createdAt":1418586923,"updatedAt":1461478356,"rank":0,"totalRank":0,"votes":0,"groupId":null,"partnerData":"","downloadUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0","searchText":"_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ","licenseType":-1,"version":0,"thumbnailUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351","accessControlId":33627,"startDate":null,"endDate":null,"referenceId":"","replacingEntryId":"","replacedEntryId":"","replacementStatus":"0","partnerSortValue":0,"conversionProfileId":4573522,"redirectEntryId":"","rootEntryId":"1_izramf08","operationAttributes":[],"entitledUsersEdit":"","entitledUsersPublish":"","info":{}}],"meta":{"total":1}}

### Create an Entry [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Entry [/entry/{id}]
A single Entry object with all its properties

+ Parameters
    + id (required, string, `0_abcdef`) ... String `id` of the Entry to perform action with. Has example value.

### Retrieve an Entry [GET]
+ Response 200 (application/json)

    + Header

    + Body

        {
            "data": {
                "info": {
                    "isPrivate":0
                },
                "mediaType":1,
                "conversionQuality":"4573522",
                "sourceType":"1",
                "searchProviderType":null,
                "searchProviderId":"",
                "creditUserName":"",
                "creditUrl":"",
                "mediaDate":null,
                "dataUrl":"https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https",
                "flavorParamsIds":"0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                "plays":707,
                "views":1286,
                "lastPlayedAt":1461560407,
                "width":1920,
                "height":816,
                "duration":90,
                "msDuration":90000,
                "durationType":"",
                "id":"1_izramf08",
                "name":"Star Wars: Episode VII - The Force Awakens.",
                "description":"A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                "partnerId":33942,
                "userId":"demo@panda-os.com",
                "creatorId":"demo@panda-os.com",
                "tags":"action",
                "adminTags":"",
                "categories":"PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                "categoriesIds":"21672221,21672271,31368441",
                "status":"2","moderationStatus":6,
                "moderationCount":0,
                "type":"1",
                "createdAt":1418586923,
                "updatedAt":1461478356,
                "rank":0,
                "totalRank":0,
                "votes":0,
                "groupId":null,
                "partnerData":"",
                "downloadUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0",
                "searchText":"_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ","licenseType":-1,"version":0,"thumbnailUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351",
                "accessControlId":33627,
                "startDate":null,
                "endDate":null,
                "referenceId":"",
                "replacingEntryId":"",
                "replacedEntryId":"",
                "replacementStatus":"0",
                "partnerSortValue":0,
                "conversionProfileId":4573522,
                "redirectEntryId":"",
                "rootEntryId":"1_izramf08",
                "operationAttributes":[],
                "entitledUsersEdit":"",
                "entitledUsersPublish":""
            }
        }

### Update an Entry [PUT]
+ Response 200 (application/json)


### Remove an Entry [DELETE]
+ Response 204

# Group Playlists

## Playlist Entries [/playlist/{playlistId}/entries?format=json]

### Lists Playlist Entries [GET]

Lists all entries in a given playlist
+ Parameters
    + playlistId (string) - ID of the playlist to retrieve

+ Request (application/json;charset=UTF-8)
    
        {
    
        }

+ Response 200 (application/json)

    + Headers
    
            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body
    
            {
                "data": [
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_izramf08/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                  "plays": 707,
                  "views": 1286,
                  "lastPlayedAt": 1461560407,
                  "width": 1920,
                  "height": 816,
                  "duration": 90,
                  "msDuration": 90000,
                  "durationType": "",
                  "id": "1_izramf08",
                  "name": "Star Wars: Episode VII - The Force Awakens.",
                  "description": "A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                  "partnerId": 33942,
                  "userId": "demo@panda-os.com",
                  "creatorId": "demo@panda-os.com",
                  "tags": "action",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                  "categoriesIds": "21672221,21672271,31368441",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1418586923,
                  "updatedAt": 1461478356,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_izramf08/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_izramf08/version/100111/acv/351",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_izramf08",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_0h9c8icp/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 35,
                  "views": 80,
                  "lastPlayedAt": 1461128409,
                  "width": 1920,
                  "height": 816,
                  "duration": 151,
                  "msDuration": 151000,
                  "durationType": "",
                  "id": "1_0h9c8icp",
                  "name": "Think Like a Man Too",
                  "description": "All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "comedy",
                  "adminTags": "",
                  "categories": "PlatformDemo>Comedy",
                  "categoriesIds": "21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984660,
                  "updatedAt": 1459776089,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_0h9c8icp/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Think Like a Man Too comedy All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_0h9c8icp/version/100031/acv/211",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_0h9c8icp",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_rbkwmmpw/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 174,
                  "views": 240,
                  "lastPlayedAt": 1461042008,
                  "width": 1920,
                  "height": 1080,
                  "duration": 153,
                  "msDuration": 153000,
                  "durationType": "",
                  "id": "1_rbkwmmpw",
                  "name": "Teenage Mutant Ninja Turtles",
                  "description": "Four mutant warriors fight to save their city from an evil kingpin.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "action, comedy, sci-fi",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Comedy",
                  "categoriesIds": "21672221,21672271,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984550,
                  "updatedAt": 1427883064,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_rbkwmmpw/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Teenage Mutant Ninja Turtles action, comedy, sci-fi Four mutant warriors fight to save their city from an evil kingpin. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_rbkwmmpw/version/100051/acv/231",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_rbkwmmpw",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_11nv3doz/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487091,487111,845761,871861,871871",
                  "plays": 7,
                  "views": 41,
                  "lastPlayedAt": 1460955607,
                  "width": 1920,
                  "height": 816,
                  "duration": 17,
                  "msDuration": 16672,
                  "durationType": "",
                  "id": "1_11nv3doz",
                  "name": "Star Wars: Episode VII - Chapters",
                  "description": "",
                  "partnerId": 33942,
                  "userId": "admin@panda-os.com",
                  "creatorId": "admin@panda-os.com",
                  "tags": "",
                  "adminTags": "",
                  "categories": "PlatformDemo>Drama,PlatformDemo>Comedy",
                  "categoriesIds": "21672241,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1453022344,
                  "updatedAt": 1461478332,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_11nv3doz/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - Chapters ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_11nv3doz/version/100022/acv/232",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "1_izramf08",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_11nv3doz",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                }
              ],
              "meta": {
                "total": 4
              }
            }

## Playlist [/playlist?format=json]

### Creates a Playlist [POST]

Creates a new playlist object

+ Request (application/json;charset=UTF-8)

        {
            "accessControlId": "33627",
            "adminTags": "",
            "categories": "PlatformDemo",
            "description": "",
            "name": "Leon",
            "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
            "tags": "",
            "userId": "demo@panda-os.com"
        }

+ Response 200 (application/json)
    + Headers
    
            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body
    
            {
              "data": {
                "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
                "filters": [],
                "totalResults": null,
                "playlistType": 3,
                "plays": 0,
                "views": 0,
                "duration": 0,
                "executeUrl": "k_pl_0_name=Leon&k_pl_0_url=https%3A%2F%2Fwww.kaltura.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D33942%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D1_gu07ygn9",
                "id": "1_gu07ygn9",
                "name": "Leon",
                "description": "",
                "partnerId": 33942,
                "userId": "demo@panda-os.com",
                "creatorId": "demo@panda-os.com",
                "tags": "",
                "adminTags": "",
                "categories": "PlatformDemo",
                "categoriesIds": "21672211",
                "status": "2",
                "moderationStatus": 6,
                "moderationCount": 0,
                "type": "5",
                "createdAt": 1461587868,
                "updatedAt": 1461587869,
                "rank": 0,
                "totalRank": 0,
                "votes": 0,
                "groupId": null,
                "partnerData": "",
                "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/raw/entry_id/1_gu07ygn9/version/100001",
                "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_3|  Leon ",
                "licenseType": null,
                "version": 100001,
                "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/thumbnail/entry_id/1_gu07ygn9/version/0",
                "accessControlId": 33627,
                "startDate": null,
                "endDate": null,
                "referenceId": "",
                "replacingEntryId": "",
                "replacedEntryId": "",
                "replacementStatus": "0",
                "partnerSortValue": 0,
                "conversionProfileId": null,
                "redirectEntryId": "",
                "rootEntryId": "1_gu07ygn9",
                "operationAttributes": [],
                "entitledUsersEdit": "",
                "entitledUsersPublish": ""
              }
            }
            
## Token [/token?format=json]

### Authenticate User [POST]

In order to succesfully login a user, we need to first get a valid token by sending user
password and account id

+ Request (application/json;charset=UTF-8)

        {
            "accountId": "54632dd76803fa81163fbc75",
            "id": "demo@panda-os.com",
            "password": "123456"
        }
            
+ Response 200 (application/json)

        {
            "accountId": "54632ceb6803fabe223fbc75",
            "token": "token=="
        }
        
+ Response 401 (application/json) 
    + Headers
    
            X-Bamboo-Message: Login failed, please check your Email and Password
        
    + Body
    
            {
                "data": []
            }
        
### Logout User [DELETE]

Logout user is used to logout the current user and remove its cookie

+ Request (application/json)

        {
            "id": 0
        }
        
+ Response 200 (application/json) 

        [
        ]