FORMAT: 1A
HOST: http://demo.bamboo-video.com/api/

# Bamboo API

This is the Bamboo API, please email support@panda-os.com for any questions.

# bamboo-video
The Bamboo Video API is a RESTful API

# Data Structures

##config (object)
+ config (object)
    + landingpages 
        + mobileFlavorId: 1 (number)
        + promotionalCategory: Promotional (string)
        + promotionalPlaylistTag: promotional (string)
        + bannerImage: false (boolean)
    + modules
        + custom
            + highcharts-ng: 1 (number)
            + ui.sortable.multiselection: 1 (number)
        + core
            + pvpadmin: 1 (number)
            + common: 1 (number)
            + gallery: 1 (number)
            + entry: 1 (number)
            + admin: 1 (number)
            + upload: 1 (number)
            + user: 1 (number)
            + live: 0 (number)
            + faq: 1 (number)
            + comments: 1 (number)
            + dashboard: 1 (number)
            + mymedia: 1 (number)
            + embed: 1 (number)
            + player: 1 (number)
            + "playlist: 1 (number)
            + channels: 0 (number)
            + freetrial: 1 (number)
            + categories: 1 (number)
            + datingil: 0 (number)
            + events: 0 (number)
            + adserver: 0 (number)
            + analytics: 1 (number)
            + widget: 1 (number)
            + landingpages: 1 (number)
            + editor: 1 (number)
            + football: 0 (number) 
        + thirdParty
            + jkuri.gallery: 1 (number)
            + angularStats: 0 (number)
            + ngCropper: 1 (number)
            + ui.utils: 1 (number)
            + angular.filter: 1 (number)
            + ui-select2: 1 (number)
            + ui.select: 1 (number)
            + ngSanitize: 1 (number)
            + ui.bootstrap: 1 (number)
            + ui.bootstrap.datetimepicker: 1 (number)
            + ui.scrollfix: 1 (number)
            + ui.slider: 1 (number)
            + pascalprecht.translate: 1 (number)
            + slugifier: 1 (number)
            + ngTable: 1 (number)
            + cgPrompt: 1 (number)
            + hmTouchevents: 1 (number)
            + angulartics: 1 (number)
            + angulartics.google.analytics: 1 (number)
            + angulartics.piwik: 1 (number)
            + angularResizable: 1 (number)
            + facebook: 1 (number)
            + addthis: 1 (number)
            + ngtimeago: 1 (number)
            + xeditable: 1 (number)
            + ui.sortable: 1 (number)
            + ngCsv: 1 (number)
            + angularSpectrumColorpicker: 1 (number)
            + ui.tree: 1 (number)
            + daterangepicker: 1 (number)
            + ngProgress: 1 (number)
            + ngJoyRide: 1 (number)
            + ngDragDrop: 1 (number)
            + ngWebSocket: 1 (number)
            + angular-carousel-3d: 1 (number)
            + react: 1 (number)
            + mega-menu: 1 (number)
    + dependencies
        + additional (array, fixed)
            + vendor/Highcharts-4.1.7/js/highcharts.min.js
            + vendor/highcharts-ng/highcharts-ng.js
            + vendor/countUp/countUp.js
        + global (array, fixed)
            + vendor/detect-mobile-browser-master/detect-browser.js
            + vendor/ngGallery/src/js/ngGallery.js
            + vendor/angular-animate/angular-animate.min.js
            + vendor/angular-touch/angular-touch.min.js
            + vendor/angular-sanitize/angular-sanitize.min.js
            + vendor/angular-filter/angular-filter.min.js
            + vendor/angular-route/angular-route.min.js
            + vendor/angular-dragdrop/angular-dragdrop.min.js
            + vendor/angular-websocket/angular-websocket.min.js
            + vendor/ui-modules/ui-router.min.js
            + vendor/ui-modules/ui-bootstrap-tpls-1.3.2.js
            + vendor/ui-modules/datetime-picker.js
            + vendor/ui-modules/datetime-picker.tpls.js
            + vendor/lodash/lodash.min.js
            + vendor/restangular/restangular.min.js
            + vendor/jsoneditor/asset/jsonlint/jsonlint.min.js
            + vendor/chart.js/Chart.min.js
            + vendor/csv/ng-csv.min.js
            + vendor/hammer.js/hammer.min.js
            + vendor/twitter/bootstrap/js/bootstrap.min.js
            + vendor/spectrum/spectrum.min.js
            + vendor/angular-cropper/ngCropper.all.js
            + vendor/angular-addthis/angular-addthis.js
            + vendor/angular-slugify/angular-slugify.js
            + vendor/angular-prompt/angular-prompt.js
            + vendor/angular-daterangepicker/angular-daterangepicker.js
            + vendor/angular-daterangepicker/moment-timezone.js
            + vendor/angular-resizeable/angular-resizeable.js
            + vendor/angular-ui-tree/angular-ui-tree.js
            + vendor/angular-hammer/angular-hammer.js
            + vendor/angulartics/src/angulartics.js
            + vendor/angulartics/src/angulartics-ga.js
            + vendor/angulartics/src/angulartics-piwik.js
            + vendor/pascalprecht-angular-translate/panda-angular-translate.js
            + vendor/select2/select2.min.js
            + vendor/ui-modules/ui-utils.js
            + vendor/ui-modules/select.js
            + vendor/ui-modules/select2.js
            + vendor/ui-modules/ui-slider.js
            + vendor/ui-modules/ui.sortable.multiselection.js
            + vendor/ui-modules/sortable.js
            + vendor/angularjs-slider/dist/rzslider.min.js
            + vendor/ui-calendar/calendar.js
            + vendor/ng-table/ng-table.js
            + vendor/facebook-login/angular-facebook.js
            + vendor/ngtimeago/ngtimeago.js
            + vendor/jquery-hoverdir/jquery.hoverdir.js
            + vendor/xeditable/js/xeditable.min.js
            + vendor/jsoneditor/jsoneditor.js
            + vendor/spectrum/angular-spectrum-colorpicker.js
            + vendor/react/react.min.js
            + vendor/react/react-dom.min.js
            + vendor/react-virtualized/react-virtualized.min.js
            + vendor/react-bootstrap/react-bootstrap.min.js
            + vendor/ng-react/ng-react.js
            + vendor/angular-mega-menu/angular-mega-menu.js
    + analytics
        + reportWidget: false (boolean)
        + altEnvironment: true (boolean)
        + altAnnouncment: false (boolean)
        + reports
            + showCorruptedLevel: partial (string)
        + google
            + trackingId: UA-36034144-3 (string)
            + apiTrackingId: UA-36034144-8 (string)
        + panda
            + url: http://piwik.panda-os.com (string)
            + token: 57fa55357816eb87b709f15065808a4e (string)
            + cache-expiry: 10 (number)
            + siteId: 1 (number)
            + lastMinutes: 1 (number)
    + debug 
          + logLevel: 7 (number)
    + general
        + rtl: false (boolean)
        + defaultLanguage: en (string)
        + timezoneOffset: 0 (number)
        + timezoneString: utc (string)
        + debugEnabled: false (boolean)
        + minifyModulesCss: true (boolean)
        + siteDescription: Online Video Platform solution. Software and services for video publishing, management, distribution, and monetization. Cloud based solution for video hosting and streaming. (string)
    + cache
        + enabled: true (boolean)
        + expiration: 600 (number)
    + contact
        + uiTitle: Contact Us (string)
        + uiDescription: Please fill this form and we will get back to you shortly (string)
        + uiMessage: Thank you for contacting us. (string)
    + locale (array, fixed)
    + translation
        + languages (array, fixed)
            + (object)
                + language: en (string)
                + name: English (string)
                + flag: us (string)
                + orientation: ltr (string)
                + arrayOrder: 0 (number)
                + arrayId: __0 (string)
            + (object)
                + language: pt (string)
                + name: Portuguese (string)
                + flag: pt (string)
                + orientation: ltr (string)
                + arrayOrder: 1 (number)
                + arrayId: __1 (string)
            + (object)
                + language: fr (string)
                + name: French (string)
                + flag: fr (string)
                + orientation: ltr (string)
                + arrayOrder: 2 (number)
                + arrayId: __2 (string)
            
            + (object)
                + language: es (string)
                + name: Spanish (string)
                + flag: es (string)
                + orientation: ltr (string)
                + arrayOrder: 3 (number)
                + arrayId: __3 (string)
            + (object)
                + language: de (string)
                + name: German (string)
                + flag: de (string)
                + orientation: ltr (string)
                + arrayOrder: 4 (number)
                + arrayId: __4 (string)
            + (object)
                + language: he (string)
                + name: Hebrew (string)
                + flag: il (string)
                + orientation: rtl (string)
                + arrayOrder: 5 (number)
                + arrayId: __5 (string)
    + kaltura
        + serviceUrl: https://video.panda-os.com/ (string)
        + statsUrl: https://videostats.panda-os.com/api_v3/index.php (string)
        + cdnUrl: http://static.panda-os.com (string)
        + partnerId: 102 (number)
    + tags
        + limitTagsToRootCategory: true (boolean)
    + application
        + resourceUrlWhitelist(array, fixed)
            + self
            + http://*.bamboo-video.com/**
            + http://*.panda-os.com/**
        + title: Bamboo - Panda Video Platform (string)
        + description: Online Video Platform solution. Software and services for video publishing, management, distribution, and monetization. Cloud based solution for video hosting and streaming. (string)
        + rootCategory: Bamboo (string)
        + enableDelete: false (boolean)
        + showSplash: true (boolean)
        + relatedCategory: Featured (string)
        + showUserInstances: true (boolean)
        + showDefaultLogin: true (boolean)
        + showInstanceInformationInHeader: false (boolean)
        + showUserboxInstanceInformation: false (boolean)
        + dateFormat: shortDate (string)
        + socialMedia (array, fixed)
        + userMenuDropdown
            + name: true (boolean)
            + image: true (boolean)
        + jsBaseUrl: www.bamboo-video.com (string)
        + cdnApiUrl: https://cdnapi.bamboo-video.com (string)
        + bambooCdnUrl: https://cdn.bamboo-video.com (string)
        + displayInstanceType: true (boolean)
        + announcement: false (boolean)
        + redirectToHomeWhenLogin: false (boolean)
        + registerPopup
            + enabled: false (boolean)
            + timeout: 60000 (number)
            + nagTimeout: 60000 (number)
        + configCustomParams(array, fixed)
        + drm
            + enabled: false (boolean)
            + drmServiceUrl: https://widevine-dash.ezdrm.com/proxy?pX=8C4D80&bambooToken={token}&iid={instanceId}&entryId={entryId}&country={country}& (string)
            + drmServiceUrlPlayready: https://playready.ezdrm.com/cency/preauth.aspx?pX=4F3EA0&format=playready&bambooToken={token}&iid={instanceId}&entryId={entryId}&country={country}& (string)
            + drmServiceUrlFairplay: https://fps.ezdrm.com/api/licenses/38fffe9a-5e4c-4e2b-9471-251549ec1eda?format=fairplay&bambooToken={token}&iid={instanceId}&entryId={entryId}&country={country}& (string)
            + drmFairplayCertificatePath: https://api.bamboo-video.com/api/fps/charlton.cer (string)
        +authentication
            + enabled: true (boolean)
            + demoCredentials
                + email: demo@panda-os.com (string)
                + password: 123456 (string)
        + roleNames
            + viewerRole: Viewer (string)
            + contributorRole: Contributor (string)
            + managerRole: Manager (string)
            + adminRole: Administrator (string)
          
        + guestUser: Guest (string)
        + smsMethod: false (boolean)
        + passwordExpired: false (boolean)
    + branding
        + logoUrl: https://s3cdn.panda-os.com/upload/20161227/58625bcf53083.png (string)
        + faviconUrl: /favicon.ico (string)
        + poweredBy
            + logoUrl: img/panda-logo.png (string)
            + linkUrl: http://www.panda-os.com (string)
            + linkTitle: PandaOS Open-Source Solutions (string)
            + linkText: Powered By: (string)
          
        + customCss: custom.css (string)
        + siteName: Bamboo - Panda Video Platform (string)
        + successPageBgUrl: /app/modules/panda/img/intro_bg.jpg (string)
    + player
        + customMenuTemplates (array,fixed)
            + default
        + playerUrl: //static.panda-os.com/html5/html5lib/v2.55/mwEmbedLoader.php (string)
        + beaconUrl: //api.bamboo-video.com/api/drm/beacon (string)
        + uiconfId: 11601700 (string)
        + debug: false (boolean)
        + autoPlay: true (boolean)
        + flashvars
            + hlsjs
                + options
                    enableWebVTT: true (boolean)
                    maxBufferHole: 8 (number)
                    maxSeekHole: 8 (number)
                + plugin: true (boolean)
            + chapters
                + plugin: true (boolean)
            + kAnalony
                + plugin: false (boolean)
            + chaptersEdit
                + plugin: true (boolean)
                + editPropId: panda-chapterProp (string)
                + editTimelineId: panda-chapterTimeline (string)
                + tags: chaptering (string)
                + requiresJQuery: true (boolean)
            + adCuepointsEdit
                + plugin: true (boolean)
                + editPropId: panda-adCuepointProp (string)
                + editTimelineId: panda-adCuepointTimeline (string)
                + tags: adcuepoints (string)
                + requiresJQuery: true (boolean)
            + sourceSelector
                + plugin: true (boolean)
                + switchOnResize: false (boolean)
                + simpleFormat: true (boolean)
                + displayMode: sizebitrate (string)
            + scrubber
                + plugin: true (boolean)
                + thumbWidth: 100 (number)
                + thumbSlicesUrl: /api/entry/{mediaProxy.entry.id}/thumbnail/?width=100&slices=100&sprite=true (string)
            + loadingSpinner
                + color: #000000 (string)
                + lines: 20 (number)
                + width: 10 (number)
                + radius: 30 (number)
                + lineLength: 0 (number)
                + speed: 1 (number)
                + shadow: true (boolean)
                + trail: 50 (number)
            + bambooChapters
                + plugin: true (boolean)
                + iframeHTML5Js: //www.bamboo-video.com/app/modules/player/plugins/bambooChapters/bambooChapters.js (string)
                + iframeHTML5Css: //www.bamboo-video.com/app/modules/player/plugins/bambooChapters/bambooChapters.css (string)
                + enableSearch: false (boolean)
                + cuePointType (array, fixed)
                    + main: annotation.Annotation (string)
                    + sub (array,fixed)
                        + 0
                    + arrayOrder: 0 (number)
                    + arrayId: __0 (string)
            + IframeCustomPluginCss1: /css/panda-player.css (string)
            + uiVars (array, fixed)
                + (object)
                    + key: mediaProxy.preferedFlavorBR (string)
                    + value: 1600 (number)
                    + overrideFlashvar: true (boolean)
                    + arrayOrder: 0 (number)
                    + arrayId: __0 (string)
                + (object)
                    + key: KalturaSupport_ForceUserAgent (string)
                    + value: Bamboo-Player (string)
                    + overrideFlashvar: true (boolean)
                    + arrayOrder: 1 (number)
                    + arrayId": __1 (string)
            
            + LeadWithHLSOnFlash: false (boolean)
            + LeadWithHLSOnJs: true (boolean)
            + video360
                + plugin: true
            + related
                + parent: controlsContainer (string)
                + align: right (string)
                + displayOnPlaybackDone: true (boolean)
                + sendContextWithPlaylist: true (boolean)
                + entryList: null (string)
                + playlistId: 0_fkm10x3k (string)
                + clickUrl: "" (string)
                + autoContinueTime: 10 (number)
                + autoContinueEnabled: true (boolean)
                + storeSession: true (boolean)
                + order: 200 (number)
        + playerConfig
            + mw
                + KalturaSupport_ForceUserAgent: Bamboo-Player (string)
                + Kaltura.LeadWithHTML5: true (boolean)
                + Kaltura.UseAppleAdaptive: false (boolean)
                + Kaltura.UseManifestUrls: true (boolean)
                + EmbedPlayer.EnableIpadHTMLControls: true (boolean)
                + EmbedPlayer.UseFlashOnAndroid: false (boolean)
                + Kaltura.LoadScriptForVideoTags: true (boolean)
                + Kaltura.AllowIframeRemoteService: false (boolean)
                + Kaltura.EnableEmbedUiConfJs: false (boolean)
                + Mw.XmlProxyUrl: //video.panda-os.com/html5/html5lib/v2.18.2/simplePhpXMLProxy.php (string)
            + noPreviewImageUrl: //via.placeholder.com/350x200?text=No%20Preview%20Available%20:(
            + mediaConvertingImageUrl: //via.placeholder.com/350x200?text=Your%20Media%20Is%20Converting (string)
            + uploadErrorImageUrl: //via.placeholder.com/350x200?text=An%20error%20Occured%20while%20uploading%20:(
        
        + bitmovin
            + enable: false (boolean)
            + playerUrl: https://bitmovin-a.akamaihd.net/bitmovin-player/stable/7/bitmovinplayer.js (string)
            + playerKey: c2662d78-c43c-4877-82ee-e79fd4b6afa2 (string)
            + statsPluginUrl: https://www.bamboo-video.com/app/modules/player/js/bitdashBambooAnalytics.js (string)
            + skin
                + screenLogoUrl: https://www.panda-os.com/ (string)
                + screenLogoImage: https://static.panda-os.com/panda-square-logo.png (string)
            + playback
                + autoplay: false (boolean)
        + navigation
            + showRegisterLink: true (boolean)
            + userMenuPictureSide: false (boolean)
            + enableMyProfile: true (boolean)
            + menuLinks (array, fixed)
                + (object)
                    + title: Media Management (string)
                    + icon: film (string)
                    + route: root.mymedia.media (string)
                    + loggedIn: false (boolean)
                    + role: contributorRole (string)
                    + arrayOrder: 0 (number)
                    + arrayId: __0 (string)
                + (object)
                    + title: Manage Users (string)
                    + icon: list (string)
                    + route: root.admin.users (string)
                    + loggedIn: true (boolean)
                    + role: adminRole (string)
                    + arrayOrder: 1 (number)
                    + arrayId: __1 (string)
                + (object)
                    + title: My Profile (string)
                    + icon: user (string)
                    + route: root.user.profile (string)
                    + loggedIn: true (boolean)
                    + role: viewerRole (string)
                    + arrayOrder: 2 (number)
                    + arrayId: __2 (string)
                + (object)
                    + title: Settings (string)
                    + icon: cog (string)
                    + route: root.pvpadmin.configs (string)
                    + loggedIn: true (boolean)
                    + role: adminRole (string)
                    + arrayOrder: 3 (number)
                    + arrayId: __3 (string)
            + homeRoute: root.home (string)
            + headerItems
                + 0
                    + title: Categories (string)
                    + icon: th-large (string)
                    + megamenu: true (boolean)
                    + includes: root.gallery (string)
                    + parentCategoryId: 10814 (number)
                    + showThumbnail: true (boolean)
                    + params
                        + categoryName: Categories (string)
                    + side: left (string)
                    + arrayOrder: 0 (number)
                    + arrayId: __0 (string)
                + 1
                    + tplSrc: search-header-directive-template.html (string)
              "module": "common",
              "locationPrefix": "views/templates/",
              "class": "hidden-xs",
              "arrayOrder": 1,
              "arrayId": "__1"
            },
            "3": {
              "title": "PandaOS Website",
              "link": "http://www.panda-os.com",
              "icon": "info-sign",
              "arrayOrder": 3,
              "arrayId": "__3"
            },
            "4": {
              "title": "Media Management",
              "route": "root.mymedia.media",
              "icon": "film",
              "arrayOrder": 4,
              "arrayId": "__4"
            }
          }
        },
        "search": {
          "searchForUserRole": null,
          "showEntryGallery": true,
          "showUserGallery": true,
          "galleryEntryOptions": Array[0][

          ],
          "galleryUsersOptions": Array[0][

          ]
        },
        "playPage": {
          "customMenuEnabled": false,
          "enablePaymentService": false,
          "checkValidation": false,
          "showChannelsGuide": false,
          "displayDeletedUserContent": false,
          "playPageContainerEnabled": false,
          "playPageRelatedEnabled": true,
          "widgets": Array[2][
            {
              "directiveName": "gallery-tabs",
              "name": "galleryTabs",
              "module": "gallery",
              "enabled": true,
              "order": 1,
              "directiveAttributes": {
                "widget-config": "galleryTabs"
              },
              "config": {
                "class": "",
                "liClass": {
                  "xs": 6
                }
              },
              "arrayOrder": 0,
              "arrayId": "__0"
            },
            {
              "directiveName": "category-carousel",
              "name": "categoryCarousel",
              "module": "gallery",
              "type": "carousel",
              "enabled": true,
              "order": 2,
              "directiveAttributes": {
                "options": "categoryCarousel.options"
              },
              "config": {
                "class": "",
                "galleryType": "",
                "subCategory": "",
                "liClass": {
                  "xs": 6
                }
              },
              "arrayOrder": 1,
              "arrayId": "__1"
            }
          ]
        },
        "pvpadmin": {
          "enableInstanceCreation": true
        },
        "gallery": {
          "defaultThumbnailTemplate": {
            "module": "gallery",
            "tplSrc": "views/templates/default-thumbnail.html"
          },
          "showPlayPageCategories": true,
          "thumbnailRotation": true,
          "thumbnailSize": {
            "width": 480,
            "height": 320
          },
          "thumbnailSizeRightBar": {
            "width": 480,
            "height": 300
          },
          "playerSize": {
            "width": 800,
            "height": 600
          },
          "tabs": {
            "enableCategoryGallery": false,
            "enableCategoryInOneCarousel": true,
            "enableFacebookComments": false,
            "comments": {
              "enable": true,
              "name": "Comments"
            },
            "galleries": {
              "enable": true,
              "name": "Galleries"
            }
          },
          "categorygallery": {
            "pageSize": 1,
            "PlaylistGalleryOptions": Array[0][

            ]
          }
        },
        "mymedia": {
          "singleCategory": false,
          "categoryFormEnabled": false,
          "customHeaderModule": "mymedia",
          "customHeader": "/views/directives/my-media-header/default-my-media-header-template.html",
          "mediaTypeIn": false,
          "autoSelect": true,
          "useReact": true,
          "showReferenceId": false,
          "itemType": "default",
          "uploader": false,
          "reviewEnabled": false,
          "thumbnailGenerator": true,
          "pageSizes": Array[3][
            20,
            50,
            100
          ],
          "categoryManagementSupport": true,
          "checkCategoryAncestors": true,
          "uiconf": "11601700",
          "entryTitleClickRoute": "root.gallery.playentry({id: entry.id})",
          "entryTitleClickRouteName": "root.gallery.playentry",
          "saveasEnabled": false,
          "tabs": Array[4][
            {
              "tplSrc": "basic-info.html",
              "name": "Basic Info",
              "tabRoute": "edit",
              "order": 1,
              "arrayOrder": 0,
              "arrayId": "__0"
            },
            {
              "tplSrc": "editing.html",
              "name": "Editing",
              "tabRoute": "editing",
              "order": 2,
              "arrayOrder": 1,
              "arrayId": "__1"
            },
            {
              "tplSrc": "embed.html",
              "name": "Embed",
              "tabRoute": "embed",
              "order": 3,
              "arrayOrder": 2,
              "arrayId": "__2"
            },
            {
              "tplSrc": "chapters.html",
              "name": "Chapters",
              "tabRoute": "chapters",
              "order": 4,
              "arrayOrder": 3,
              "arrayId": "__3"
            }
          ]
        },
        "embed": {
          "maxUserPlayers": 10,
          "defaultEmbedSize": {
            "width": 500,
            "height": 320
          },
          "defaultPlaylistEmbedSize": {
            "width": 1000,
            "height": 420
          },
          "newPlayerUiConf": "11601525",
          "tabs": Array[4][
            "general",
            "styling",
            "callToAction",
            "monetization"
          ],
          "defaultPlayerConfig": {
            "height": "395",
            "width": "560",
            "swfUrl": "/flash/kdp3/v3.9.8/kdp3.swf",
            "swfUrlVersion": "3.9.8",
            "version": "161",
            "name": "New Player",
            "tags": "html5studio,player",
            "html5Url": "/html5/html5lib/v2.55.1/mwEmbedLoader.php",
            "creationMode": 2,
            "configFilePath": "configs/xml/kdp.xml",
            "config": {
              "plugins": {
                "loadingSpinner": {
                  "plugin": true,
                  "enabled": true
                },
                "topBarContainer": {
                  "plugin": true
                },
                "controlBarContainer": {
                  "plugin": true,
                  "hover": true
                },
                "theme": {
                  "applyToLargePlayButton": true
                },
                "scrubber": {
                  "plugin": true
                },
                "largePlayBtn": {
                  "plugin": true
                },
                "playHead": {
                  "plugin": true
                },
                "playPauseBtn": {
                  "plugin": true
                },
                "volumeControl": {
                  "plugin": true
                },
                "durationLabel": {
                  "plugin": true
                },
                "currentTimeLabel": {
                  "plugin": true
                },
                "keyboardShortcuts": {
                  "plugin": true
                },
                "liveCore": {
                  "plugin": true
                },
                "liveStatus": {
                  "plugin": true
                },
                "liveBackBtn": {
                  "plugin": true
                },
                "fullScreenBtn": {
                  "plugin": true
                },
                "skipBtn": {
                  "plugin": true
                },
                "watermark": {
                  "cssClass": "topRight"
                },
                "sourceSelector": {
                  "enabled": true,
                  "plugin": true,
                  "switchOnResize": true,
                  "simpleFormat": true,
                  "displayMode": "size"
                }
              },
              "uiVars": Array[4][
                {
                  "key": "autoPlay",
                  "value": false,
                  "overrideFlashvar": false,
                  "arrayOrder": 0,
                  "arrayId": "__0"
                },
                {
                  "key": "autoMute",
                  "value": false,
                  "overrideFlashvar": false,
                  "arrayOrder": 1,
                  "arrayId": "__1"
                },
                {
                  "key": "enableTooltips",
                  "value": false,
                  "overrideFlashvar": false,
                  "arrayOrder": 2,
                  "arrayId": "__2"
                },
                {
                  "key": "mediaProxy.preferedFlavorBR",
                  "value": "1600",
                  "overrideFlashvar": true,
                  "arrayOrder": 3,
                  "arrayId": "__3"
                }
              ],
              "layout": {
                "skin": "kdark"
              }
            }
          },
          "postMessage": false,
          "targetOrigin": "*"
        },
        "myplaylists": {
          "showEPGGeneratedPlaylists": false,
          "ownVideosOnly": false,
          "showReferenceId": false,
          "tabs": Array[2][
            {
              "tplSrc": "playlists-videos.html",
              "name": "Videos",
              "tabRoute": "videos",
              "order": 1,
              "arrayOrder": 0,
              "arrayId": "__0"
            },
            {
              "tplSrc": "basic-info.html",
              "name": "Basic Info",
              "tabRoute": "edit",
              "order": 2,
              "arrayOrder": 1,
              "arrayId": "__1"
            }
          ]
        },
        "entry": {
          "linkToPlayPage": false,
          "privateAsDefault": false,
          "priceInput": true,
          "countUsedViews": false,
          "enablePrivacyOption": true,
          "profileId": 1633,
          "showPackageField": false,
          "showPartnerSortValue": false,
          "enableEntryCategories": true,
          "enableEntryTags": true,
          "subscribeButton": {
            "buttonLink": "root.user.register",
            "addRedirectUrl": true,
            "buttonCaption": "Register Now",
            "type": "route"
          },
          "downloadFlavor": 0,
          "showRating": true
        },
        "editor": {
          "previewServerUrl": "https://vod.panda-os.com"
        },
        "layout": {
          "headerCustomClass": false,
          "containerCustomClass": "container",
          "defaultLayout": "layout.html"
        },
        "upload": {
          "dropBoxAppKey": false,
          "uploadOptions": {
            "uploadFromDesktop": true,
            "uploadFromURL": true,
            "uploadFromDropBox": false
          },
          "allowSetEntryCategories": true,
          "simultaneousUploads": 1,
          "chunkSize": 2097152,
          "hasUploadWidget": true,
          "removeExtension": false,
          "uploaderListTemplate": {
            "module": "upload",
            "tpl": "entry-edit-directive-template.html",
            "options": Array[0][

            ]
          }
        },
        "comments": {
          "entryCommentsCountProfileId": "",
          "showPrivateCommentsConfig": true,
          "commentsPrivate": false,
          "sort": "-createdAt",
          "sortReplies": "-createdAt",
          "pageSize": 25
        },
        "clipping": {
          "ffmpegClipping": false
        },
        "user": {
          "profilePictureSize": {
            "width": 200,
            "height": 200
          },
          "coverPhotoSize": {
            "width": 800,
            "height": 450
          },
          "showAdditionalInfo": false,
          "metadataProfileIdCredentials": "",
          "metadataProfileIdAdditionalInfo": "",
          "usersPageSize": 100,
          "usersMetadataPageSize": 100,
          "ksExpiry": 86400,
          "requireUserId": false,
          "requirePhone": false,
          "defaultImageUrl": "img/default_user.jpg",
          "profileModules": {
            "purchases": true,
            "followers": true,
            "subscribers": true,
            "entries": true,
            "coverPhoto": true
          },
          "tabs": Array[2][
            {
              "tplSrc": "description.html",
              "name": "Description",
              "tabRoute": "description",
              "order": 1,
              "arrayId": "description",
              "arrayOrder": 0
            },
            {
              "tplSrc": "basic-info.html",
              "name": "Basic Info",
              "tabRoute": "basic-info",
              "order": 2,
              "arrayId": "basicInfo",
              "arrayOrder": 1
            }
          ],
          "extendedPermissions": Array[1][
            "contributorManager"
          ]
        },
        "userManagement": {
          "tabs": Array[1][
            {
              "tplSrc": "basic-info.html",
              "name": "Basic Info",
              "tabRoute": "basic-info",
              "order": 1,
              "arrayId": "basicInfo",
              "arrayOrder": 0
            }
          ]
        },
        "profile": {
          "showUserEmbedCode": false
        },
        "social": {
          "shareButtonsSize": "big",
          "facebook": {
            "applicationId": false,
            "showVideoTags": true,
            "uiconfId": "11619785",
            "liveUiconfId": "11619784",
            "locale": "en_US"
          },
          "twitter": false,
          "addthisId": "ra-548ee9751344953e"
        },
        "faq": Array[0][

        ],
        "live": {
          "conversionProfileId": 7534932,
          "pleaseWaitStreamName": "pandaloop",
          "appName": "pandaLive",
          "mediaTypeIn": "7,201,201,203,204",
          "maxBandwidth": "0",
          "videoWidth": "640",
          "videoHeight": "480",
          "videoQuality": "0",
          "videoBandwidth": "75000",
          "videoFrameRate": "30",
          "maxQuality": "60",
          "chunkInterval": 3000,
          "isLiveCacheExpiry": 10,
          "isLiveInterval": 10000,
          "wowzaRtmpServer": "rtmp://stream.panda-os.com",
          "wowzaHttpServer": "http://streamcdn.panda-os.com",
          "wowzaCdnServer": "http://streamcdn.panda-os.com",
          "autoSelect": true,
          "enableVod": "true",
          "categoryManagementSupport": true,
          "showEntryIsLiveIndicators": false,
          "enableLiveViewersCount": false,
          "showReferenceId": false,
          "hlsStreamSuffix": "",
          "hlsStreamPrefix": "",
          "hdsStreamSuffix": "",
          "hdsStreamPrefix": "",
          "enableWebcam": true,
          "tabs": Array[3][
            {
              "tplSrc": "basic-info.html",
              "name": "Basic Info",
              "tabRoute": "edit",
              "order": 1,
              "arrayOrder": 0,
              "arrayId": "__0"
            },
            {
              "tplSrc": "stream.html",
              "name": "Stream Info",
              "tabRoute": "stream",
              "order": 2,
              "arrayOrder": 1,
              "arrayId": "__1"
            },
            {
              "tplSrc": "embed.html",
              "name": "Embed",
              "tabRoute": "embed",
              "order": 3,
              "arrayOrder": 2,
              "arrayId": "__2"
            }
          ]
        },
        "livelowlatency": {
          "workPath": "/opt/live/frames",
          "highQualityScale": "-1:180",
          "lowQualityScale": "-1:100",
          "highQualityQuality": "4",
          "lowQualityQuality": "8",
          "highQualityFramerate": "8",
          "lowQualityFramerate": "3"
        },
        "intercom": {
          "appId": "hsq16tj9"
        },
        "settingsTabs": {
          "0": {
            "tplSrc": "analytics.html",
            "name": "Analytics",
            "tabRoute": "analytics",
            "order": 10,
            "icon": "signal",
            "active": true,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "analytics",
            "arrayOrder": 0
          },
          "1": {
            "tplSrc": "info-settings.html",
            "name": "Info & Settings",
            "tabRoute": "info-settings",
            "icon": "info-sign",
            "order": 20,
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "infoSettings",
            "arrayOrder": 1
          },
          "2": {
            "tplSrc": "accounts.html",
            "name": "Sub-Accounts",
            "tabRoute": "accounts",
            "icon": "file",
            "order": 25,
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "accounts",
            "arrayOrder": 2
          },
          "3": {
            "tplSrc": "advanced-settings.html",
            "name": "Advanced Settings",
            "tabRoute": "advanced-settings",
            "icon": "sunglasses",
            "order": 30,
            "active": false,
            "disabled": false,
            "role": "rootRole",
            "arrayId": "advancedSettings",
            "arrayOrder": 3
          },
          "5": {
            "tplSrc": "dropfolders.html",
            "name": "Drop Folder",
            "tabRoute": "dropfolder",
            "icon": "hdd",
            "order": 45,
            "active": false,
            "disabled": false,
            "role": "rootRole",
            "arrayId": "dropfolder",
            "arrayOrder": 5
          },
          "6": {
            "tplSrc": "hosts.html",
            "name": "Hosts",
            "tabRoute": "hosts",
            "icon": "globe",
            "order": 50,
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "hosts",
            "arrayOrder": 6
          },
          "7": {
            "tplSrc": "video-settings.html",
            "name": "Video Settings",
            "tabRoute": "video-settings",
            "order": 60,
            "icon": "facetime-video",
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "videoSettings",
            "arrayOrder": 7
          },
          "8": {
            "tplSrc": "custom-css.html",
            "name": "Custom CSS",
            "tabRoute": "custom-css",
            "icon": "wrench",
            "order": 70,
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "customCss",
            "arrayOrder": 8
          },
          "9": {
            "tplSrc": "api-keys.html",
            "name": "API Keys",
            "tabRoute": "api-keys",
            "icon": "briefcase",
            "order": 80,
            "active": false,
            "disabled": false,
            "role": "adminRole",
            "arrayId": "apiKeys",
            "arrayOrder": 9
          },
          "10": {
            "tplSrc": "children.html",
            "name": "Children",
            "tabRoute": "children",
            "icon": "leaf",
            "order": 90,
            "active": false,
            "disabled": false,
            "role": "rootRole",
            "arrayId": "children",
            "arrayOrder": 10
          },
          "11": {
            "tplSrc": "packages.html",
            "name": "Packages",
            "tabRoute": "packages",
            "icon": "gift",
            "order": 100,
            "active": false,
            "disabled": false,
            "role": "rootRole",
            "arrayId": "packages",
            "arrayOrder": 11
          }
        },
        "tutorial": {
          "enabled": false,
          "config": {
            "root-home": {
              "enabled": true,
              "id": 1,
              "steps": Array[10][
                {
                  "type": "location_change",
                  "path": "/",
                  "arrayOrder": 0,
                  "arrayId": "__0"
                },
                {
                  "type": "title",
                  "heading": "Welcome to Bamboo",
                  "text": "<div class='row'><div id='title-text' class='col-md-12'><span class='main-text'>Welcome to <strong>Your New Bamboo Site</strong></span><br><span>( This demo will walk you through the features of the Bamboo Video Platform. )</span><br/><br/><span class='small'><em>Please click Next to continue.</em></span></div></div>",
                  "curtainClass": "randomClass",
                  "arrayOrder": 1,
                  "arrayId": "__1"
                },
                {
                  "type": "element",
                  "selector": "#home-carousel",
                  "heading": "Featured Content",
                  "text": "Featured content is displayed here. You have full control over which content to display in this carousel. Please click Next to continue.",
                  "placement": "bottom",
                  "scroll": true,
                  "attachToBody": true,
                  "arrayOrder": 2,
                  "arrayId": "__2"
                },
                {
                  "type": "element",
                  "selector": ".gallery-row [gallery-carousel]:eq(0)",
                  "heading": "Dynamic Galleries",
                  "text": "These are our galleries. They can be comprised of Categories, Playlist items, or by any other criteria such as Videos belonging to a specific person or channel. Editing these galleries is possible via the Media Management screen.",
                  "placement": "top",
                  "scroll": true,
                  "attachToBody": true,
                  "arrayOrder": 3,
                  "arrayId": "__3"
                },
                {
                  "type": "element",
                  "selector": "#left-side-menu",
                  "heading": "Dynamic Navigation Menu",
                  "text": "The Bamboo Navigation Menu is a dynamic menu that can include links to internal or external pages, and is completely configurable.",
                  "curtainClass": "lowZIndex",
                  "placement": "bottom",
                  "scroll": true,
                  "attachToBody": true,
                  "arrayOrder": 4,
                  "arrayId": "__4"
                },
                {
                  "type": "element",
                  "selector": "#right-side-menu",
                  "heading": "Dynamic Widgets",
                  "text": "The Navigation menu can include dynamic widgets such as the User Menu.",
                  "placement": "bottom",
                  "curtainClass": "lowZIndex",
                  "scroll": true,
                  "attachToBody": true,
                  "arrayOrder": 5,
                  "arrayId": "__5"
                },
                {
                  "type": "function",
                  "fn": "openUserBox",
                  "arrayOrder": 6,
                  "arrayId": "__6"
                },
                {
                  "type": "element",
                  "selector": "[common-userbox]",
                  "heading": "The User Menu",
                  "text": "This menu is easily customizable and can include various links and widgets.",
                  "placement": "left",
                  "curtainClass": "lowZIndex",
                  "scroll": true,
                  "attachToBody": true,
                  "advanceOn": {
                    "element": "[common-userbox] a[ui-sref='root.mymedia.media']",
                    "event": "click"
                  },
                  "arrayOrder": 7,
                  "arrayId": "__7"
                },
                {
                  "type": "element",
                  "selector": "[common-userbox] a[ui-sref='root.mymedia.media'] > span",
                  "heading": "Discover Bamboo Media Management",
                  "text": "Click on the Media Management link to continue. You will be required to provide your credentials and log-in.",
                  "placement": "left",
                  "curtainClass": "lowZIndex",
                  "scroll": true,
                  "attachToBody": true,
                  "advanceOn": {
                    "element": "[common-userbox] a[ui-sref='root.mymedia.media']",
                    "event": "click"
                  },
                  "arrayOrder": 8,
                  "arrayId": "__8"
                },
                {
                  "type": "function",
                  "fn": "openMyMedia",
                  "arrayOrder": 9,
                  "arrayId": "__9"
                }
              ]
            },
            "root-user-login": {
              "enabled": false,
              "id": 2,
              "steps": Array[1][
                {
                  "type": "element",
                  "selector": "#login-page form[name=loginForm]",
                  "heading": "Login to your Bamboo Site",
                  "text": "You can login to your site using the credentials provided for you. Facebook and Twitter login are also included and are easy to set-up!",
                  "scroll": true,
                  "attachToBody": true,
                  "placement": "top",
                  "curtainClass": "randomClass",
                  "arrayOrder": 0,
                  "arrayId": "__0"
                }
              ]
            },
            "root-mymedia-media": {
              "enabled": true,
              "id": 3,
              "steps": Array[5][
                {
                  "type": "title",
                  "heading": "Media Management",
                  "text": "<div class='row'><div id='title-text' class='col-md-12'><span class='main-text'>Welcome to <strong>Bamboo Media Management</strong><br/>Click next to watch the Media Management tutorial video.</span></div></div>",
                  "curtainClass": "randomClass",
                  "arrayOrder": 0,
                  "arrayId": "__0"
                },
                {
                  "type": "title",
                  "heading": "Media Management Tutorial",
                  "class": "video",
                  "text": "<div class='embed-responsive embed-responsive-16by9'><iframe class='embed-responsive-item' src='//video.panda-os.com/p/102/sp/10200/embedIframeJs/uiconf_id/11603174/partner_id/102?iframeembed=true&amp;playerId=kaltura_player_1427725083&amp;entry_id=0_y9ltzcn9' allowfullscreen='' webkitallowfullscreen='' mozallowfullscreen='' frameborder='0' itemprop='video' itemscope='' itemtype='//schema.org/VideoObject'></iframe></div>",
                  "arrayOrder": 1,
                  "arrayId": "__1"
                },
                {
                  "type": "function",
                  "fn": "openUserBox",
                  "arrayOrder": 2,
                  "arrayId": "__2"
                },
                {
                  "type": "element",
                  "selector": "[common-userbox]",
                  "heading": "Discover Bamboo User Management",
                  "text": "Click on the Manage Users link to continue.",
                  "placement": "left",
                  "curtainClass": "lowZIndex",
                  "scroll": true,
                  "attachToBody": true,
                  "advanceOn": {
                    "element": "[common-userbox] a[ui-sref='root.admin.users']",
                    "event": "click"
                  },
                  "arrayOrder": 3,
                  "arrayId": "__3"
                },
                {
                  "type": "function",
                  "fn": "openUserManagement",
                  "arrayOrder": 4,
                  "arrayId": "__4"
                }
              ]
            },
            "root-admin-users": {
              "enabled": true,
              "id": 4,
              "steps": Array[2][
                {
                  "type": "title",
                  "heading": "User Management",
                  "text": "<div class='row'><div id='title-text' class='col-md-12'><span class='main-text'>Welcome to <strong>Bamboo User Management</strong><br/>Click next to watch the User Management tutorial video.</span></div></div>",
                  "curtainClass": "randomClass",
                  "arrayOrder": 0,
                  "arrayId": "__0"
                },
                {
                  "type": "title",
                  "heading": "User Management Tutorial",
                  "class": "video",
                  "text": "<div class='embed-responsive embed-responsive-16by9'><iframe class='embed-responsive-item' src='//video.panda-os.com/p/102/sp/10200/embedIframeJs/uiconf_id/11603174/partner_id/102?iframeembed=true&playerId=kaltura_player_1427723901&entry_id=0_03p9cynt' allowfullscreen='' webkitallowfullscreen='' mozallowfullscreen='' frameborder='0' itemprop='video' itemscope='' itemtype='//schema.org/VideoObject'></iframe></div>",
                  "arrayOrder": 1,
                  "arrayId": "__1"
                }
              ]
            }
          }
        },
        "trial": {
          "instanceLifetimeDays": 30,
          "entryId": false,
          "defaultVideoUrl": "//video.panda-os.com/p/102/sp/10200/embedIframeJs/uiconf_id/11603174/partner_id/102?iframeembed=true&playerId=kaltura_player_11603174&entry_id=0_jpx5zyty",
          "enableInstanceColorPicker": false,
          "instanceDomain": "bamboo-video.com"
        },
        "purchases": {
          "affiliate": false,
          "mediaTypeIn": false,
          "defaultService": 5,
          "services": Array[3][
            5,
            2,
            3
          ],
          "upgradeLink": false,
          "paypal": {
            "sandBox": true,
            "payNowButton": true,
            "merchantId": "56EJUS986TVWQ",
            "enableEntryPurchase": false
          },
          "braintree": {
            "merchantId": "cpkgcmq55v6h22qt",
            "publicKey": "h7pcnkfjczcmh6tn",
            "masterMerchantAccountId": "pandaos"
          }
        },
        "hls": {
          "enable": true
        },
        "stubForCommas": Array[0][

        ],
        "home": {
          "featuredCategory": "Featured",
          "categories": Array[6][
            "Action",
            "Animated",
            "Sci-Fi",
            "Comedy",
            "Drama",
            "Channels"
          ]
        }

# Group Users
Users of the **Bamboo Video API**

## Users Collection [/user?format=json]

### List all Users [GET]

+ Response 200 (application/json)

        
        {
          "data": [
            {
              "instance": "123435434",
              "role": "viewerRole",
              "info": {
                
              },
              "_id": {
                "$id": "123435434"
              },
              "id": "demoapi@bamboo-video.com",
              "email": "demoapi@bamboo-video.com",
              "phone": null,
              "dateOfBirth": null,
              "country": null,
              "area": null,
              "city": null,
              "state": null,
              "zip": null,
              "description": null,
              "firstName": "Demo",
              "lastName": "API",
              "gender": 1,
              "createdAt": 1466181293,
              "status": 1,
              "fullName": "Demo API",
              "accounts": [
                {
                  "instanceId": "123435434",
                  "role": "viewerRole"
                }
              ],
              "passwordExpiredDate": "",
              "type": 3,
              "updatedAt": 1482258445,
              "isOnline": false
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create a User [POST]
+ Request (application/json)

        {"new":1,"firstName":"roni+test","lastName":"Test","id":"roni+test@test.com","info":{},"email":"test@test.com","phone":"123455678","gender":"1","role":"viewerRole","status":"1","password":"123456"}

+ Response 201 (application/json)

        {"data":{"role":"viewerRole","info":{},"_id":{"$id":"5a04cfbd6986fb1d044bda63"},"id":"roni+test@test.com","email":"roni+test@test.com","phone":"123455678","dateOfBirth":null,"country":null,"area":null,"city":null,"state":null,"zip":null,"description":null,"firstName":"roni+test","lastName":"Test","gender":1,"createdAt":1510264764,"status":1,"fullName":"roni+test Test","type":3,"updatedAt":null}}

## User [/user/{id}?format=json]
A single User object with all its properties

+ Parameters
    + id (required, string, `1231315151`) ... string `id` MongoId of the user to perform action with. Has example value.

### Retrieve a User [GET]
+ Response 200 (application/json)

    + Header

    + Body

            
            {
              "data": {
                "instance": "123231313",
                "role": "viewerRole",
                "info": {
                  
                },
                "_id": {
                  "$id": "123231313"
                },
                "id": "demoapi@bamboo-video.com",
                "email": "demoapi@bamboo-video.com",
                "phone": null,
                "dateOfBirth": null,
                "country": null,
                "area": null,
                "city": null,
                "state": null,
                "zip": null,
                "description": null,
                "firstName": "Demo",
                "lastName": "API",
                "gender": 1,
                "createdAt": 1466181293,
                "status": 1,
                "fullName": "Demo API",
                "accounts": [
                  {
                    "instanceId": "123231313",
                    "role": "viewerRole"
                  }
                ],
                "passwordExpiredDate": "",
                "type": 3,
                "updatedAt": 1482258445,
                "isOnline": false
              }
            }

### Update a User [PUT]
+ Response 200 (application/json)


### Remove a User [DELETE]
+ Response 204

# Group Entries
Media Entries related resources of the **Bamboo Video API**

## Entries Collection [/entry?format=json&filter={filter}&pager={pager}]
+ Parameters
    + filter (BaseEntryFilter,optional) - A [BaseEntryFilter](#reference/Filters%20and%20Pagers) object
    + pager (FilterPager,optional) - A [FilterPager](#reference/Filters%20and%20Pagers) object

### List all Entries [GET]
#### The filter and pager parameters are optional.
- They should be sent as json encoded strings.
- Examples: 
    - http://demo.bamboo-video.com/api/entry?format=json&pager={"pageSize":10,"pageIndex":2}
    - http://demo.bamboo-video.com/api/entry?format=json&filter={"categoriesMatchAnd":"Bamboo>Action"}
+ Response 200 (application/json)

        {
          "data": [
            {
              "mediaType": 1,
              "conversionQuality": "4573522",
              "sourceType": "1",
              "searchProviderType": null,
              "searchProviderId": "",
              "creditUserName": "",
              "creditUrl": "",
              "mediaDate": null,
              "dataUrl": "https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https",
              "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
              "plays": 707,
              "views": 1286,
              "lastPlayedAt": 1461560407,
              "width": 1920,
              "height": 816,
              "duration": 90,
              "msDuration": 90000,
              "durationType": "",
              "id": "1_izramf08",
              "name": "Star Wars: Episode VII - The Force Awakens.",
              "description": "A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
              "partnerId": 33942,
              "userId": "demo@panda-os.com",
              "creatorId": "demo@panda-os.com",
              "tags": "action",
              "adminTags": "",
              "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
              "categoriesIds": "21672221,21672271,31368441",
              "status": "2",
              "moderationStatus": 6,
              "moderationCount": 0,
              "type": "1",
              "createdAt": 1418586923,
              "updatedAt": 1461478356,
              "rank": 0,
              "totalRank": 0,
              "votes": 0,
              "groupId": null,
              "partnerData": "",
              "downloadUrl": "https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0",
              "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ",
              "licenseType": -1,
              "version": 0,
              "thumbnailUrl": "https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351",
              "accessControlId": 33627,
              "startDate": null,
              "endDate": null,
              "referenceId": "",
              "replacingEntryId": "",
              "replacedEntryId": "",
              "replacementStatus": "0",
              "partnerSortValue": 0,
              "conversionProfileId": 4573522,
              "redirectEntryId": "",
              "rootEntryId": "1_izramf08",
              "operationAttributes": [],
              "entitledUsersEdit": "",
              "entitledUsersPublish": "",
              "info": {}
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create an Entry [POST]
+ Request (application/json)

        { "title": "Video title" }

+ Response 201 (application/json)

        { "id": 3, "title": "Video title" }

## Entry [/entry/{id}?format=json]
A single Entry object with all its properties

+ Parameters
    + id (required, string, `0_abcdef`) ... String `id` of the Entry to perform action with. Has example value.

### Retrieve an Entry [GET]
+ Response 200 (application/json)

    + Header

    + Body

            {
                "data": {
                    "info": {
                        "isPrivate":0
                    },
                    "mediaType":1,
                    "conversionQuality":"4573522",
                    "sourceType":"1",
                    "searchProviderType":null,
                    "searchProviderId":"",
                    "creditUserName":"",
                    "creditUrl":"",
                    "mediaDate":null,
                    "dataUrl":"https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https",
                    "flavorParamsIds":"0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                    "plays":707,
                    "views":1286,
                    "lastPlayedAt":1461560407,
                    "width":1920,
                    "height":816,
                    "duration":90,
                    "msDuration":90000,
                    "durationType":"",
                    "id":"1_izramf08",
                    "name":"Star Wars: Episode VII - The Force Awakens.",
                    "description":"A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                    "partnerId":33942,
                    "userId":"demo@panda-os.com",
                    "creatorId":"demo@panda-os.com",
                    "tags":"action",
                    "adminTags":"",
                    "categories":"PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                    "categoriesIds":"21672221,21672271,31368441",
                    "status":"2","moderationStatus":6,
                    "moderationCount":0,
                    "type":"1",
                    "createdAt":1418586923,
                    "updatedAt":1461478356,
                    "rank":0,
                    "totalRank":0,
                    "votes":0,
                    "groupId":null,
                    "partnerData":"",
                    "downloadUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0",
                    "searchText":"_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ","licenseType":-1,"version":0,"thumbnailUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351",
                    "accessControlId":33627,
                    "startDate":null,
                    "endDate":null,
                    "referenceId":"",
                    "replacingEntryId":"",
                    "replacedEntryId":"",
                    "replacementStatus":"0",
                    "partnerSortValue":0,
                    "conversionProfileId":4573522,
                    "redirectEntryId":"",
                    "rootEntryId":"1_izramf08",
                    "operationAttributes":[],
                    "entitledUsersEdit":"",
                    "entitledUsersPublish":""
                }
            }

### Update an Entry [PUT]
+ Response 200 (application/json)


### Remove an Entry [DELETE]
+ Response 204


# Group Categories
Categories related resources of the **Bamboo Video API**

## Categories Collection [/category?format=json&filter={filter}&pager={pager}]
+ Parameters
    + filter (CategoryFilter,optional) - A [CategoryFilter](#reference/Filters%20and%20Pagers) object
    + pager (FilterPager,optional) - A [FilterPager](#reference/Filters%20and%20Pagers) object

### List all Categories [GET]
#### The filter and pager parameters are optional.
- They should be sent as json encoded strings.
- Examples: 
    - http://demo.bamboo-video.com/api/category?format=json&pager={"pageSize":10,"pageIndex":1}
    - http://demo.bamboo-video.com/api/entry?format=json&filter={}
+ Response 200 (application/json)

        {
          "data": [
                    {
              "id": 10815,
              "parentId": 10814,
              "depth": 1,
              "partnerId": 102,
              "name": "Featured",
              "fullName": "Bamboo>Featured",
              "fullIds": "10814>10815",
              "entriesCount": 8,
              "createdAt": 1469966990,
              "updatedAt": 1501605367,
              "description": null,
              "tags": null,
              "appearInList": 1,
              "privacy": 1,
              "inheritanceType": 2,
              "userJoinPolicy": 3,
              "defaultPermissionLevel": 3,
              "owner": "",
              "directEntriesCount": 8,
              "referenceId": null,
              "contributionPolicy": 1,
              "membersCount": 0,
              "pendingMembersCount": 0,
              "privacyContext": null,
              "privacyContexts": "",
              "status": 2,
              "inheritedParentId": null,
              "partnerSortValue": 0,
              "partnerData": null,
              "defaultOrderBy": null,
              "directSubCategoriesCount": 0,
              "moderation": 0,
              "pendingEntriesCount": null,
              "isAggregationCategory": 0,
              "aggregationCategories": "",
              "relatedObjects": null
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create an Category [POST]
+ Request (application/json)

        { "name": "Category title" }

+ Response 201 (application/json)

        { "id": 3, "name": "Category title" }

## Category [/category/{name}?format=json]
A single Category object with all its properties

+ Parameters
    + name (required string, `Featured`) ... string `name` of the Category to perform action with. Has example value 
    Can also be the id of the category if useId=true url param is being sent

### Retrieve a Category [GET]
+ Response 200 (application/json)

    + Header

    + Body

            {
                "data": {
                      "id": 10815,
                      "parentId": 10814,
                      "depth": 1,
                      "partnerId": 102,
                      "name": "Featured",
                      "fullName": "Bamboo>Featured",
                      "fullIds": "10814>10815",
                      "entriesCount": 8,
                      "createdAt": 1469966990,
                      "updatedAt": 1501605367,
                      "description": null,
                      "tags": null,
                      "appearInList": 1,
                      "privacy": 1,
                      "inheritanceType": 2,
                      "userJoinPolicy": 3,
                      "defaultPermissionLevel": 3,
                      "owner": "",
                      "directEntriesCount": 8,
                      "referenceId": null,
                      "contributionPolicy": 1,
                      "membersCount": 0,
                      "pendingMembersCount": 0,
                      "privacyContext": null,
                      "privacyContexts": "",
                      "status": 2,
                      "inheritedParentId": null,
                      "partnerSortValue": 0,
                      "partnerData": null,
                      "defaultOrderBy": null,
                      "directSubCategoriesCount": 0,
                      "moderation": 0,
                      "pendingEntriesCount": null,
                      "isAggregationCategory": 0,
                      "aggregationCategories": "",
                      "relatedObjects": null
                    }
            }

### Update a Category [PUT]
+ Response 200 (application/json)


### Remove a Category [DELETE]
+ Response 204


# Group Playlists

## Playlists Collection [/playlist?format=json]
### List all Playlists [GET]
+ Response 200 (application/json)


             {
                        "data": [
                            {
                                "playlistContent": "0_47jdjigc,0_c70ju1m8,0_gabh8kjk",
                                "filters": [],
                                "totalResults": null,
                                "playlistType": 3,
                                "plays": 0,
                                "views": 0,
                                "duration": 0,
                                "executeUrl": "k_pl_0_name=New Playlist&k_pl_0_url=http%3A%2F%2Fvideo.panda-os.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D102%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D0_4hyb965m",
                                "id": "0_4hyb965m",
                                "name": "New Playlist",
                                "description": "",
                                "partnerId": 102,
                                "userId": "demo@panda-os.com",
                                "creatorId": "demo@panda-os.com",
                                "tags": "",
                                "adminTags": "",
                                "categories": "LiveChannels",
                                "categoriesIds": "196",
                                "status": "2",
                                "moderationStatus": 6,
                                "moderationCount": 0,
                                "type": "5",
                                "createdAt": 1461067064,
                                "updatedAt": 1461067161,
                                "rank": 0,
                                "totalRank": 0,
                                "votes": 0,
                                "groupId": null,
                                "partnerData": "",
                                "downloadUrl": "http:\/\/static.panda-os.com\/p\/102\/sp\/0\/raw\/entry_id\/0_4hyb965m\/version\/100002",
                                "searchText": "_PAR_ONLY_ _102_ _MEDIA_TYPE_3|  New Playlist ",
                                "licenseType": null,
                                "version": 100002,
                                "thumbnailUrl": "http:\/\/static.panda-os.com\/p\/102\/sp\/0\/thumbnail\/entry_id\/0_4hyb965m\/version\/0",
                                "accessControlId": 3,
                                "startDate": null,
                                "endDate": null,
                                "referenceId": "",
                                "replacingEntryId": "",
                                "replacedEntryId": "",
                                "replacementStatus": "0",
                                "partnerSortValue": 0,
                                "conversionProfileId": null,
                                "redirectEntryId": "",
                                "rootEntryId": "0_4hyb965m",
                                "operationAttributes": [],
                                "entitledUsersEdit": "",
                                "entitledUsersPublish": ""
                            }
                        ],
                        "meta":
                        {
                            "total": 1
                        }
                    }

### Create a Playlist [POST]

Creates a new playlist object

+ Request (application/json;charset=UTF-8)

        {
            "accessControlId": "33627",
            "adminTags": "",
            "categories": "PlatformDemo",
            "description": "",
            "name": "Leon",
            "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
            "tags": "",
            "userId": "demo@panda-os.com"
        }

+ Response 200 (application/json)
    + Headers

            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body

            {
              "data": {
                "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
                "filters": [],
                "totalResults": null,
                "playlistType": 3,
                "plays": 0,
                "views": 0,
                "duration": 0,
                "executeUrl": "k_pl_0_name=Leon&k_pl_0_url=https%3A%2F%2Fwww.kaltura.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D33942%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D1_gu07ygn9",
                "id": "1_gu07ygn9",
                "name": "Leon",
                "description": "",
                "partnerId": 33942,
                "userId": "demo@panda-os.com",
                "creatorId": "demo@panda-os.com",
                "tags": "",
                "adminTags": "",
                "categories": "PlatformDemo",
                "categoriesIds": "21672211",
                "status": "2",
                "moderationStatus": 6,
                "moderationCount": 0,
                "type": "5",
                "createdAt": 1461587868,
                "updatedAt": 1461587869,
                "rank": 0,
                "totalRank": 0,
                "votes": 0,
                "groupId": null,
                "partnerData": "",
                "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/raw/entry_id/1_gu07ygn9/version/100001",
                "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_3|  Leon ",
                "licenseType": null,
                "version": 100001,
                "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/thumbnail/entry_id/1_gu07ygn9/version/0",
                "accessControlId": 33627,
                "startDate": null,
                "endDate": null,
                "referenceId": "",
                "replacingEntryId": "",
                "replacedEntryId": "",
                "replacementStatus": "0",
                "partnerSortValue": 0,
                "conversionProfileId": null,
                "redirectEntryId": "",
                "rootEntryId": "1_gu07ygn9",
                "operationAttributes": [],
                "entitledUsersEdit": "",
                "entitledUsersPublish": ""
              }
            }


## Playlist Entries [/playlist/{playlistId}/entries?format=json]

### Lists Playlist Entries [GET]

Lists all entries in a given playlist
+ Parameters
    + playlistId (string) - ID of the playlist to retrieve

+ Request (application/json;charset=UTF-8)

        {

        }

+ Response 200 (application/json)

    + Headers

            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body

            {
                "data": [
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_izramf08/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                  "plays": 707,
                  "views": 1286,
                  "lastPlayedAt": 1461560407,
                  "width": 1920,
                  "height": 816,
                  "duration": 90,
                  "msDuration": 90000,
                  "durationType": "",
                  "id": "1_izramf08",
                  "name": "Star Wars: Episode VII - The Force Awakens.",
                  "description": "A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                  "partnerId": 33942,
                  "userId": "demo@panda-os.com",
                  "creatorId": "demo@panda-os.com",
                  "tags": "action",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                  "categoriesIds": "21672221,21672271,31368441",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1418586923,
                  "updatedAt": 1461478356,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_izramf08/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_izramf08/version/100111/acv/351",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_izramf08",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_0h9c8icp/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 35,
                  "views": 80,
                  "lastPlayedAt": 1461128409,
                  "width": 1920,
                  "height": 816,
                  "duration": 151,
                  "msDuration": 151000,
                  "durationType": "",
                  "id": "1_0h9c8icp",
                  "name": "Think Like a Man Too",
                  "description": "All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "comedy",
                  "adminTags": "",
                  "categories": "PlatformDemo>Comedy",
                  "categoriesIds": "21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984660,
                  "updatedAt": 1459776089,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_0h9c8icp/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Think Like a Man Too comedy All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_0h9c8icp/version/100031/acv/211",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_0h9c8icp",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_rbkwmmpw/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 174,
                  "views": 240,
                  "lastPlayedAt": 1461042008,
                  "width": 1920,
                  "height": 1080,
                  "duration": 153,
                  "msDuration": 153000,
                  "durationType": "",
                  "id": "1_rbkwmmpw",
                  "name": "Teenage Mutant Ninja Turtles",
                  "description": "Four mutant warriors fight to save their city from an evil kingpin.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "action, comedy, sci-fi",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Comedy",
                  "categoriesIds": "21672221,21672271,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984550,
                  "updatedAt": 1427883064,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_rbkwmmpw/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Teenage Mutant Ninja Turtles action, comedy, sci-fi Four mutant warriors fight to save their city from an evil kingpin. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_rbkwmmpw/version/100051/acv/231",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_rbkwmmpw",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_11nv3doz/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487091,487111,845761,871861,871871",
                  "plays": 7,
                  "views": 41,
                  "lastPlayedAt": 1460955607,
                  "width": 1920,
                  "height": 816,
                  "duration": 17,
                  "msDuration": 16672,
                  "durationType": "",
                  "id": "1_11nv3doz",
                  "name": "Star Wars: Episode VII - Chapters",
                  "description": "",
                  "partnerId": 33942,
                  "userId": "admin@panda-os.com",
                  "creatorId": "admin@panda-os.com",
                  "tags": "",
                  "adminTags": "",
                  "categories": "PlatformDemo>Drama,PlatformDemo>Comedy",
                  "categoriesIds": "21672241,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1453022344,
                  "updatedAt": 1461478332,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_11nv3doz/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - Chapters ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_11nv3doz/version/100022/acv/232",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "1_izramf08",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_11nv3doz",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                }
              ],
              "meta": {
                "total": 4
              }
            }

# Group Filters and Pagers
<a name="reference/Filters%20and%20Pagers"></a>
## FilterPager
Inherits from [KalturaFilterPager](http://video.panda-os.com/api_v3/testmeDoc/objects/KalturaFilterPager.html)

+ Properties
    + pageSize (int) The number of objects to retrieve. (Default is 30, maximum page size is 500).
    + pageIndex (int) The page number for which {pageSize} of objects should be retrieved (Default is 1).

## BaseEntryFilter
Inherits from [KalturaBaseEntryFilter](http://video.panda-os.com/api_v3/testmeDoc/objects/KalturaBaseEntryFilter.html)

+ Properties
    + idEqual    (string)    This filter should be in use for retrieving only a specific entry (identified by its entryId).
    + idIn    (string)    This filter should be in use for retrieving few specific entries (string should include comma separated list of entryId strings).
    + idNotIn    (string)    
    + nameLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry names (no wildcards, spaces are treated as part of the string).
    + nameMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry names, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + nameMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry names, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + nameEqual    (string)    This filter should be in use for retrieving entries with a specific name.
    + partnerIdEqual    (int)    This filter should be in use for retrieving only entries which were uploaded by/assigned to users of a specific Kaltura Partner (identified by Partner ID).
    + partnerIdIn    (string)    This filter should be in use for retrieving only entries within Kaltura network which were uploaded by/assigned to users of few Kaltura Partners (string should include comma separated list of PartnerIDs)
    + userIdEqual    (string)    This filter parameter should be in use for retrieving only entries, uploaded by/assigned to a specific user (identified by user Id).
    + userIdIn    (string)    
    + userIdNotIn    (string)    
    + creatorIdEqual    (string)    
    + tagsLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry tags (no wildcards, spaces are treated as part of the string).
    + tagsMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + tagsMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + adminTagsLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry tags set by an ADMIN user (no wildcards, spaces are treated as part of the string).
    + adminTagsMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, set by an ADMIN user, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + adminTagsMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, set by an ADMIN user, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + categoriesMatchAnd    (string)    
    + categoriesMatchOr    (string)    All entries within these categories or their child categories.
    + categoriesNotContains    (string)    
    + categoriesIdsMatchAnd    (string)    
    + categoriesIdsMatchOr    (string)    All entries of the categories, excluding their child categories. To include entries of the child categories, use categoryAncestorIdIn, or categoriesMatchOr.
    + categoriesIdsNotContains    (string)    
    + categoriesIdsEmpty    (KalturaNullableBoolean)    
    + statusEqual    (KalturaEntryStatus)    This filter should be in use for retrieving only entries, at a specific KalturaEntryStatus
    + statusNotEqual    (KalturaEntryStatus)    This filter should be in use for retrieving only entries, not at a specific KalturaEntryStatus
    + statusIn    (string)    This filter should be in use for retrieving only entries, at few specific KalturaEntryStatus
    + statusNotIn    (string)    This filter should be in use for retrieving only entries, not at few specific KalturaEntryStatus
    + moderationStatusEqual    KalturaEntryModerationStatus    
    + moderationStatusNotEqual    KalturaEntryModerationStatus    
    + moderationStatusIn    (string)    
    + moderationStatusNotIn    (string)    
    + typeEqual    (KalturaEntryType)    
    + typeIn    (string)    This filter should be in use for retrieving entries of few types
    + createdAtGreaterThanOrEqual (int)   This filter parameter should be in use for retrieving only entries which were created at Kaltura system after a specific time/date (standard timestamp format).
    + createdAtLessThanOrEqual    (int)   This filter parameter should be in use for retrieving only entries which were created at Kaltura system before a specific time/date (standard timestamp format).
    + updatedAtGreaterThanOrEqual (int)
    + updatedAtLessThanOrEqual    (int)
    + totalRankLessThanOrEqual    (int)
    + totalRankGreaterThanOrEqual (int)
    + groupIdEqual    (int)
    + searchTextMatchAnd    (string)    This filter should be in use for retrieving specific entries while search match the input string within all of the following metadata attributes: name, description, tags, adminTags.
    + searchTextMatchOr    (string)    This filter should be in use for retrieving specific entries while search match the input string within at least one of the following metadata attributes: name, description, tags, adminTags.
    + accessControlIdEqual    (int)    
    + accessControlIdIn    (string)    
    + startDateGreaterThanOrEqual    (int)    
    + startDateLessThanOrEqual    (int)    
    + startDateGreaterThanOrEqualOrNull    (int)    
    + startDateLessThanOrEqualOrNull    (int)    
    + endDateGreaterThanOrEqual    (int)    
    + endDateLessThanOrEqual    (int)    
    + endDateGreaterThanOrEqualOrNull    (int)    
    + endDateLessThanOrEqualOrNull    (int)    
    + referenceIdEqual    (string)    
    + referenceIdIn    (string)    
    + replacingEntryIdEqual    (string)    
    + replacingEntryIdIn    (string)    
    + replacedEntryIdEqual    (string)    
    + replacedEntryIdIn    (string)    
    + replacementStatusEqual    (KalturaEntryReplacementStatus)    
    + replacementStatusIn    (string)    
    + partnerSortValueGreaterThanOrEqual    (int)    
    + partnerSortValueLessThanOrEqual    (int)    
    + rootEntryIdEqual    (string)    
    + rootEntryIdIn    (string)    
    + parentEntryIdEqual    (string)    
    + entitledUsersEditMatchAnd    (string)    
    + entitledUsersEditMatchOr    (string)    
    + entitledUsersPublishMatchAnd    (string)    
    + entitledUsersPublishMatchOr    (string)    
    + tagsNameMultiLikeOr    (string)    
    + tagsAdminTagsMultiLikeOr    (string)    
    + tagsAdminTagsNameMultiLikeOr    (string)    
    + tagsNameMultiLikeAnd    (string)    
    + tagsAdminTagsMultiLikeAnd    (string)    
    + tagsAdminTagsNameMultiLikeAnd    (string)

# Group Authentication

## Token [/token?format=json]

### Authenticate User [POST]

In order to succesfully login a user, we need to first get a valid token by sending user
password and account id

+ Request (application/json;charset=UTF-8)

        {
            "accountId": "54632dd76803fa81163fbc75",
            "id": "demo@panda-os.com",
            "password": "123456"
        }

+ Response 200 (application/json)

        {
            "accountId": "54632ceb6803fabe223fbc75",
            "token": "token=="
        }

+ Response 401 (application/json)
    + Headers

            X-Bamboo-Message: Login failed, please check your Email and Password

    + Body

            {
                "data": []
            }

### Logout User [DELETE]

Logout user is used to logout the current user and remove its cookie

+ Request (application/json)

        {
            "id": 0
        }

+ Response 200 (application/json)

        [
        ]

## Session [/session?format=json]

### Session [GET]

Gets the current session token

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        {
        "session":"djJ8MjEwODEwMXyQ9oMxnuBNxmCalO_JCq2sK3iW5XMla2tbjil6bKhYXoS0KG9GUdvCSl8EeZ66_3-vL7I1191LDfifcAmgnGb-9HgYQdhoHYx1odNJL0s91EK94Zw6v-a1dpnBTm1SXYr9QKe1apcWYPVe11BLDWU1ejvFo8HcJr0DKPw952pOaZtGbtwTmct9mO6Iuvv7ubk="
        }
        
# Group Purchases

## Purchasing [/user/0/purchase?format=json]

### List all Purchases [GET]

Retrieves the current user's purchases

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        [
            {
              "type": 1,
              "objectId": "<ENTRY_ID>",
              "service": 2
            }
        ]

### Add a Purchase [POST]

Finallizes a purchase for a user

+ Request (application/json;charset=UTF-8)

        {
            "type": 1,
            "objectId": "<ENTRY_ID>",
            "service": 2,
            "price": "<ENTRY_PRICE>",
            "info": {
                "<INFO_KEY>":"<INFO_VALUE>"
            }
        }

+ Response 200 (application/json)

        {
            "result": true
        }

## Validation [/user/0/purchase/{objectId}?format=json]
A single User object with all its properties

+ Parameters
    + objectId (required, string, `1231315151`) ... string `id` MongoId of the purchased object to perform action with.
    
### Validate Purchase [GET]

Performs a validation process to check if the user has purchased an object with the given ID

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        {
            "result": true
        }

# Group Instance Configuration

## Get Instance Config [/config/?format=json]

### List Configurations [GET]

Retrieves the current instance configuration

+ Request (application/json;charset=UTF-8)

+ Response 200 (application/json)
+ Attributes(config)
        {
        "config": {
        "landingpages": {
          "mobileFlavorId": 1,
          "promotionalCategory": "Promotional",
          "promotionalPlaylistTag": "promotional",
          "bannerImage": false
        },
        "modules": {
          "custom": {
            "highcharts-ng": 1,
            "ui.sortable.multiselection": 1
          },
          "core": {
            "pvpadmin": 1,
            "common": 1,
            "gallery": 1,
            "entry": 1,
            "admin": 1,
            "upload": 1,
            "user": 1,
            "live": 0,
            "faq": 1,
            "comments": 1,
            "dashboard": 1,
            "mymedia": 1,
            "embed": 1,
            "player": 1,
            "playlist": 1,
            "channels": 0,
            "freetrial": 1,
            "categories": 1,
            "datingil": 0,
            "events": 0,
            "adserver": 0,
            "analytics": 1,
            "widget": 1,
            "landingpages": 1,
            "editor": 1,
            "football": 0
          },
          "thirdParty": {
            "jkuri.gallery": 1,
            "angularStats": 0,
            "ngCropper": 1,
            "ui.utils": 1,
            "angular.filter": 1,
            "ui-select2": 1,
            "ui.select": 1,
            "ngSanitize": 1,
            "ui.bootstrap": 1,
            "ui.bootstrap.datetimepicker": 1,
            "ui.scrollfix": 1,
            "ui.slider": 1,
            "pascalprecht.translate": 1,
            "slugifier": 1,
            "ngTable": 1,
            "cgPrompt": 1,
            "hmTouchevents": 1,
            "angulartics": 1,
            "angulartics.google.analytics": 1,
            "angulartics.piwik": 1,
            "angularResizable": 1,
[...]
