FORMAT: 1A
HOST: http://demo.bamboo-video.com/api/

# Bamboo API

This is the Bamboo API, please email support@panda-os.com for any questions.

# bamboo-video
The Bamboo Video API is a RESTful API

# Group Users
Users of the **Bamboo Video API**

## Users Collection [/user?format=json]

### List all Users [GET]

+ Response 200 (application/json)

        
        {
          "data": [
            {
              "instance": "123435434",
              "role": "viewerRole",
              "info": {
                
              },
              "_id": {
                "$id": "123435434"
              },
              "id": "demoapi@bamboo-video.com",
              "email": "demoapi@bamboo-video.com",
              "phone": null,
              "dateOfBirth": null,
              "country": null,
              "area": null,
              "city": null,
              "state": null,
              "zip": null,
              "description": null,
              "firstName": "Demo",
              "lastName": "API",
              "gender": 1,
              "createdAt": 1466181293,
              "status": 1,
              "fullName": "Demo API",
              "accounts": [
                {
                  "instanceId": "123435434",
                  "role": "viewerRole"
                }
              ],
              "passwordExpiredDate": "",
              "type": 3,
              "updatedAt": 1482258445,
              "isOnline": false
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create a User [POST]
+ Request (application/json)

        {"new":1,"firstName":"roni+test","lastName":"Test","id":"roni+test@test.com","info":{},"email":"test@test.com","phone":"123455678","gender":"1","role":"viewerRole","status":"1","password":"123456"}

+ Response 201 (application/json)

        {"data":{"role":"viewerRole","info":{},"_id":{"$id":"5a04cfbd6986fb1d044bda63"},"id":"roni+test@test.com","email":"roni+test@test.com","phone":"123455678","dateOfBirth":null,"country":null,"area":null,"city":null,"state":null,"zip":null,"description":null,"firstName":"roni+test","lastName":"Test","gender":1,"createdAt":1510264764,"status":1,"fullName":"roni+test Test","type":3,"updatedAt":null}}

## User [/user/{id}?format=json]
A single User object with all its properties

+ Parameters
    + id (required, string, `1231315151`) ... string `id` MongoId of the user to perform action with. Has example value.

### Retrieve a User [GET]
+ Response 200 (application/json)

    + Header

    + Body

            
            {
              "data": {
                "instance": "123231313",
                "role": "viewerRole",
                "info": {
                  
                },
                "_id": {
                  "$id": "123231313"
                },
                "id": "demoapi@bamboo-video.com",
                "email": "demoapi@bamboo-video.com",
                "phone": null,
                "dateOfBirth": null,
                "country": null,
                "area": null,
                "city": null,
                "state": null,
                "zip": null,
                "description": null,
                "firstName": "Demo",
                "lastName": "API",
                "gender": 1,
                "createdAt": 1466181293,
                "status": 1,
                "fullName": "Demo API",
                "accounts": [
                  {
                    "instanceId": "123231313",
                    "role": "viewerRole"
                  }
                ],
                "passwordExpiredDate": "",
                "type": 3,
                "updatedAt": 1482258445,
                "isOnline": false
              }
            }

### Update a User [PUT]
+ Response 200 (application/json)


### Remove a User [DELETE]
+ Response 204

# Group Entries
Media Entries related resources of the **Bamboo Video API**

## Entries Collection [/entry?format=json&filter={filter}&pager={pager}]
+ Parameters
    + filter (BaseEntryFilter,optional) - A [BaseEntryFilter](#reference/Filters%20and%20Pagers) object
    + pager (FilterPager,optional) - A [FilterPager](#reference/Filters%20and%20Pagers) object

### List all Entries [GET]
#### The filter and pager parameters are optional.
- They should be sent as json encoded strings.
- Examples: 
    - http://demo.bamboo-video.com/api/entry?format=json&pager={"pageSize":10,"pageIndex":2}
    - http://demo.bamboo-video.com/api/entry?format=json&filter={"categoriesMatchAnd":"Bamboo>Action"}
+ Response 200 (application/json)

        {
          "data": [
            {
              "mediaType": 1,
              "conversionQuality": "4573522",
              "sourceType": "1",
              "searchProviderType": null,
              "searchProviderId": "",
              "creditUserName": "",
              "creditUrl": "",
              "mediaDate": null,
              "dataUrl": "https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https",
              "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
              "plays": 707,
              "views": 1286,
              "lastPlayedAt": 1461560407,
              "width": 1920,
              "height": 816,
              "duration": 90,
              "msDuration": 90000,
              "durationType": "",
              "id": "1_izramf08",
              "name": "Star Wars: Episode VII - The Force Awakens.",
              "description": "A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
              "partnerId": 33942,
              "userId": "demo@panda-os.com",
              "creatorId": "demo@panda-os.com",
              "tags": "action",
              "adminTags": "",
              "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
              "categoriesIds": "21672221,21672271,31368441",
              "status": "2",
              "moderationStatus": 6,
              "moderationCount": 0,
              "type": "1",
              "createdAt": 1418586923,
              "updatedAt": 1461478356,
              "rank": 0,
              "totalRank": 0,
              "votes": 0,
              "groupId": null,
              "partnerData": "",
              "downloadUrl": "https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0",
              "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ",
              "licenseType": -1,
              "version": 0,
              "thumbnailUrl": "https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351",
              "accessControlId": 33627,
              "startDate": null,
              "endDate": null,
              "referenceId": "",
              "replacingEntryId": "",
              "replacedEntryId": "",
              "replacementStatus": "0",
              "partnerSortValue": 0,
              "conversionProfileId": 4573522,
              "redirectEntryId": "",
              "rootEntryId": "1_izramf08",
              "operationAttributes": [],
              "entitledUsersEdit": "",
              "entitledUsersPublish": "",
              "info": {}
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create an Entry [POST]
+ Request (application/json)

        { "title": "Video title" }

+ Response 201 (application/json)

        { "id": 3, "title": "Video title" }

## Entry [/entry/{id}?format=json]
A single Entry object with all its properties

+ Parameters
    + id (required, string, `0_abcdef`) ... String `id` of the Entry to perform action with. Has example value.

### Retrieve an Entry [GET]
+ Response 200 (application/json)

    + Header

    + Body

            {
                "data": {
                    "info": {
                        "isPrivate":0
                    },
                    "mediaType":1,
                    "conversionQuality":"4573522",
                    "sourceType":"1",
                    "searchProviderType":null,
                    "searchProviderId":"",
                    "creditUserName":"",
                    "creditUrl":"",
                    "mediaDate":null,
                    "dataUrl":"https:\/\/cdnapisec.kaltura.com\/p\/33942\/sp\/3394200\/playManifest\/entryId\/1_izramf08\/format\/url\/protocol\/https",
                    "flavorParamsIds":"0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                    "plays":707,
                    "views":1286,
                    "lastPlayedAt":1461560407,
                    "width":1920,
                    "height":816,
                    "duration":90,
                    "msDuration":90000,
                    "durationType":"",
                    "id":"1_izramf08",
                    "name":"Star Wars: Episode VII - The Force Awakens.",
                    "description":"A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                    "partnerId":33942,
                    "userId":"demo@panda-os.com",
                    "creatorId":"demo@panda-os.com",
                    "tags":"action",
                    "adminTags":"",
                    "categories":"PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                    "categoriesIds":"21672221,21672271,31368441",
                    "status":"2","moderationStatus":6,
                    "moderationCount":0,
                    "type":"1",
                    "createdAt":1418586923,
                    "updatedAt":1461478356,
                    "rank":0,
                    "totalRank":0,
                    "votes":0,
                    "groupId":null,
                    "partnerData":"",
                    "downloadUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/raw\/entry_id\/1_izramf08\/version\/0",
                    "searchText":"_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ","licenseType":-1,"version":0,"thumbnailUrl":"https:\/\/cdnsecakmi.kaltura.com\/p\/33942\/sp\/3394200\/thumbnail\/entry_id\/1_izramf08\/version\/100111\/acv\/351",
                    "accessControlId":33627,
                    "startDate":null,
                    "endDate":null,
                    "referenceId":"",
                    "replacingEntryId":"",
                    "replacedEntryId":"",
                    "replacementStatus":"0",
                    "partnerSortValue":0,
                    "conversionProfileId":4573522,
                    "redirectEntryId":"",
                    "rootEntryId":"1_izramf08",
                    "operationAttributes":[],
                    "entitledUsersEdit":"",
                    "entitledUsersPublish":""
                }
            }

### Update an Entry [PUT]
+ Response 200 (application/json)


### Remove an Entry [DELETE]
+ Response 204


# Group Categories
Categories related resources of the **Bamboo Video API**

## Categories Collection [/category?format=json&filter={filter}&pager={pager}]
+ Parameters
    + filter (CategoryFilter,optional) - A [CategoryFilter](#reference/Filters%20and%20Pagers) object
    + pager (FilterPager,optional) - A [FilterPager](#reference/Filters%20and%20Pagers) object

### List all Categories [GET]
#### The filter and pager parameters are optional.
- They should be sent as json encoded strings.
- Examples: 
    - http://demo.bamboo-video.com/api/category?format=json&pager={"pageSize":10,"pageIndex":1}
    - http://demo.bamboo-video.com/api/entry?format=json&filter={}
+ Response 200 (application/json)

        {
          "data": [
                    {
              "id": 10815,
              "parentId": 10814,
              "depth": 1,
              "partnerId": 102,
              "name": "Featured",
              "fullName": "Bamboo>Featured",
              "fullIds": "10814>10815",
              "entriesCount": 8,
              "createdAt": 1469966990,
              "updatedAt": 1501605367,
              "description": null,
              "tags": null,
              "appearInList": 1,
              "privacy": 1,
              "inheritanceType": 2,
              "userJoinPolicy": 3,
              "defaultPermissionLevel": 3,
              "owner": "",
              "directEntriesCount": 8,
              "referenceId": null,
              "contributionPolicy": 1,
              "membersCount": 0,
              "pendingMembersCount": 0,
              "privacyContext": null,
              "privacyContexts": "",
              "status": 2,
              "inheritedParentId": null,
              "partnerSortValue": 0,
              "partnerData": null,
              "defaultOrderBy": null,
              "directSubCategoriesCount": 0,
              "moderation": 0,
              "pendingEntriesCount": null,
              "isAggregationCategory": 0,
              "aggregationCategories": "",
              "relatedObjects": null
            }
          ],
          "meta": {
            "total": 1
          }
        }

### Create an Category [POST]
+ Request (application/json)

        { "name": "Category title" }

+ Response 201 (application/json)

        { "id": 3, "name": "Category title" }

## Category [/category/{id}?format=json]
A single Category object with all its properties

+ Parameters
    + id (required string, `Featured`) ... string `name` of the Category to perform action with. Has example value 
    Can also be the id of the category if useId=true url param is being sent

### Retrieve a Category [GET]
+ Response 200 (application/json)

    + Header

    + Body

            {
                "data": {
                      "id": 10815,
                      "parentId": 10814,
                      "depth": 1,
                      "partnerId": 102,
                      "name": "Featured",
                      "fullName": "Bamboo>Featured",
                      "fullIds": "10814>10815",
                      "entriesCount": 8,
                      "createdAt": 1469966990,
                      "updatedAt": 1501605367,
                      "description": null,
                      "tags": null,
                      "appearInList": 1,
                      "privacy": 1,
                      "inheritanceType": 2,
                      "userJoinPolicy": 3,
                      "defaultPermissionLevel": 3,
                      "owner": "",
                      "directEntriesCount": 8,
                      "referenceId": null,
                      "contributionPolicy": 1,
                      "membersCount": 0,
                      "pendingMembersCount": 0,
                      "privacyContext": null,
                      "privacyContexts": "",
                      "status": 2,
                      "inheritedParentId": null,
                      "partnerSortValue": 0,
                      "partnerData": null,
                      "defaultOrderBy": null,
                      "directSubCategoriesCount": 0,
                      "moderation": 0,
                      "pendingEntriesCount": null,
                      "isAggregationCategory": 0,
                      "aggregationCategories": "",
                      "relatedObjects": null
                    }
            }

### Update a Category [PUT]
+ Response 200 (application/json)


### Remove a Category [DELETE]
+ Response 204


# Group Playlists

## Playlists Collection [/playlist?format=json]
### List all Playlists [GET]
+ Response 200 (application/json)


             {
                        "data": [
                            {
                                "playlistContent": "0_47jdjigc,0_c70ju1m8,0_gabh8kjk",
                                "filters": [],
                                "totalResults": null,
                                "playlistType": 3,
                                "plays": 0,
                                "views": 0,
                                "duration": 0,
                                "executeUrl": "k_pl_0_name=New Playlist&k_pl_0_url=http%3A%2F%2Fvideo.panda-os.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D102%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D0_4hyb965m",
                                "id": "0_4hyb965m",
                                "name": "New Playlist",
                                "description": "",
                                "partnerId": 102,
                                "userId": "demo@panda-os.com",
                                "creatorId": "demo@panda-os.com",
                                "tags": "",
                                "adminTags": "",
                                "categories": "LiveChannels",
                                "categoriesIds": "196",
                                "status": "2",
                                "moderationStatus": 6,
                                "moderationCount": 0,
                                "type": "5",
                                "createdAt": 1461067064,
                                "updatedAt": 1461067161,
                                "rank": 0,
                                "totalRank": 0,
                                "votes": 0,
                                "groupId": null,
                                "partnerData": "",
                                "downloadUrl": "http:\/\/static.panda-os.com\/p\/102\/sp\/0\/raw\/entry_id\/0_4hyb965m\/version\/100002",
                                "searchText": "_PAR_ONLY_ _102_ _MEDIA_TYPE_3|  New Playlist ",
                                "licenseType": null,
                                "version": 100002,
                                "thumbnailUrl": "http:\/\/static.panda-os.com\/p\/102\/sp\/0\/thumbnail\/entry_id\/0_4hyb965m\/version\/0",
                                "accessControlId": 3,
                                "startDate": null,
                                "endDate": null,
                                "referenceId": "",
                                "replacingEntryId": "",
                                "replacedEntryId": "",
                                "replacementStatus": "0",
                                "partnerSortValue": 0,
                                "conversionProfileId": null,
                                "redirectEntryId": "",
                                "rootEntryId": "0_4hyb965m",
                                "operationAttributes": [],
                                "entitledUsersEdit": "",
                                "entitledUsersPublish": ""
                            }
                        ],
                        "meta":
                        {
                            "total": 1
                        }
                    }

### Create a Playlist [POST]

Creates a new playlist object

+ Request (application/json;charset=UTF-8)

        {
            "accessControlId": "33627",
            "adminTags": "",
            "categories": "PlatformDemo",
            "description": "",
            "name": "Leon",
            "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
            "tags": "",
            "userId": "demo@panda-os.com"
        }

+ Response 200 (application/json)
    + Headers

            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body

            {
              "data": {
                "playlistContent": "1_izramf08,1_0h9c8icp,1_rbkwmmpw,1_pvmxqv1u,1_11nv3doz",
                "filters": [],
                "totalResults": null,
                "playlistType": 3,
                "plays": 0,
                "views": 0,
                "duration": 0,
                "executeUrl": "k_pl_0_name=Leon&k_pl_0_url=https%3A%2F%2Fwww.kaltura.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D33942%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D1_gu07ygn9",
                "id": "1_gu07ygn9",
                "name": "Leon",
                "description": "",
                "partnerId": 33942,
                "userId": "demo@panda-os.com",
                "creatorId": "demo@panda-os.com",
                "tags": "",
                "adminTags": "",
                "categories": "PlatformDemo",
                "categoriesIds": "21672211",
                "status": "2",
                "moderationStatus": 6,
                "moderationCount": 0,
                "type": "5",
                "createdAt": 1461587868,
                "updatedAt": 1461587869,
                "rank": 0,
                "totalRank": 0,
                "votes": 0,
                "groupId": null,
                "partnerData": "",
                "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/raw/entry_id/1_gu07ygn9/version/100001",
                "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_3|  Leon ",
                "licenseType": null,
                "version": 100001,
                "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/0/thumbnail/entry_id/1_gu07ygn9/version/0",
                "accessControlId": 33627,
                "startDate": null,
                "endDate": null,
                "referenceId": "",
                "replacingEntryId": "",
                "replacedEntryId": "",
                "replacementStatus": "0",
                "partnerSortValue": 0,
                "conversionProfileId": null,
                "redirectEntryId": "",
                "rootEntryId": "1_gu07ygn9",
                "operationAttributes": [],
                "entitledUsersEdit": "",
                "entitledUsersPublish": ""
              }
            }


## Playlist Entries [/playlist/{playlistId}/entries?format=json]

### Lists Playlist Entries [GET]

Lists all entries in a given playlist
+ Parameters
    + playlistId (string) - ID of the playlist to retrieve

+ Request (application/json;charset=UTF-8)

        {

        }

+ Response 200 (application/json)

    + Headers

            connection:keep-alive
            access-control-allow-credentials:true
            access-control-allow-headers:Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Bamboo-Token,Event-Id,X-Requested-With
            access-control-allow-methods:GET, POST, DELETE, PUT, OPTIONS, INDEX
            access-control-allow-origin:*

    + Body

            {
                "data": [
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_izramf08/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111,823821,827231",
                  "plays": 707,
                  "views": 1286,
                  "lastPlayedAt": 1461560407,
                  "width": 1920,
                  "height": 816,
                  "duration": 90,
                  "msDuration": 90000,
                  "durationType": "",
                  "id": "1_izramf08",
                  "name": "Star Wars: Episode VII - The Force Awakens.",
                  "description": "A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983).",
                  "partnerId": 33942,
                  "userId": "demo@panda-os.com",
                  "creatorId": "demo@panda-os.com",
                  "tags": "action",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Featured",
                  "categoriesIds": "21672221,21672271,31368441",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1418586923,
                  "updatedAt": 1461478356,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_izramf08/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - The Force Awakens. action A continuation of the saga created by George Lucas set thirty years after Star Wars: Episode VI - Return of the Jedi (1983). ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_izramf08/version/100111/acv/351",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_izramf08",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_0h9c8icp/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 35,
                  "views": 80,
                  "lastPlayedAt": 1461128409,
                  "width": 1920,
                  "height": 816,
                  "duration": 151,
                  "msDuration": 151000,
                  "durationType": "",
                  "id": "1_0h9c8icp",
                  "name": "Think Like a Man Too",
                  "description": "All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "comedy",
                  "adminTags": "",
                  "categories": "PlatformDemo>Comedy",
                  "categoriesIds": "21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984660,
                  "updatedAt": 1459776089,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_0h9c8icp/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Think Like a Man Too comedy All the couples are back for a wedding in Las Vegas, but plans for a romantic weekend go awry when their various misadventures get them into some compromising situations that threaten to derail the big event. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_0h9c8icp/version/100031/acv/211",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_0h9c8icp",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_rbkwmmpw/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487081,487091,487111",
                  "plays": 174,
                  "views": 240,
                  "lastPlayedAt": 1461042008,
                  "width": 1920,
                  "height": 1080,
                  "duration": 153,
                  "msDuration": 153000,
                  "durationType": "",
                  "id": "1_rbkwmmpw",
                  "name": "Teenage Mutant Ninja Turtles",
                  "description": "Four mutant warriors fight to save their city from an evil kingpin.",
                  "partnerId": 33942,
                  "userId": "leon@panda-os.com",
                  "creatorId": "leon@panda-os.com",
                  "tags": "action, comedy, sci-fi",
                  "adminTags": "",
                  "categories": "PlatformDemo>Action,PlatformDemo>Sci-Fi,PlatformDemo>Comedy",
                  "categoriesIds": "21672221,21672271,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1404984550,
                  "updatedAt": 1427883064,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_rbkwmmpw/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Teenage Mutant Ninja Turtles action, comedy, sci-fi Four mutant warriors fight to save their city from an evil kingpin. ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_rbkwmmpw/version/100051/acv/231",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_rbkwmmpw",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                },
                {
                  "mediaType": 1,
                  "conversionQuality": "4573522",
                  "sourceType": "1",
                  "searchProviderType": null,
                  "searchProviderId": "",
                  "creditUserName": "",
                  "creditUrl": "",
                  "mediaDate": null,
                  "dataUrl": "https://cdnapisec.kaltura.com/p/33942/sp/3394200/playManifest/entryId/1_11nv3doz/format/url/protocol/https",
                  "flavorParamsIds": "0,301991,487041,487051,487061,487091,487111,845761,871861,871871",
                  "plays": 7,
                  "views": 41,
                  "lastPlayedAt": 1460955607,
                  "width": 1920,
                  "height": 816,
                  "duration": 17,
                  "msDuration": 16672,
                  "durationType": "",
                  "id": "1_11nv3doz",
                  "name": "Star Wars: Episode VII - Chapters",
                  "description": "",
                  "partnerId": 33942,
                  "userId": "admin@panda-os.com",
                  "creatorId": "admin@panda-os.com",
                  "tags": "",
                  "adminTags": "",
                  "categories": "PlatformDemo>Drama,PlatformDemo>Comedy",
                  "categoriesIds": "21672241,21672251",
                  "status": "2",
                  "moderationStatus": 6,
                  "moderationCount": 0,
                  "type": "1",
                  "createdAt": 1453022344,
                  "updatedAt": 1461478332,
                  "rank": 0,
                  "totalRank": 0,
                  "votes": 0,
                  "groupId": null,
                  "partnerData": "",
                  "downloadUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/raw/entry_id/1_11nv3doz/version/0",
                  "searchText": "_PAR_ONLY_ _33942_ _MEDIA_TYPE_1|  Star Wars: Episode VII - Chapters ",
                  "licenseType": -1,
                  "version": 0,
                  "thumbnailUrl": "https://cdnsecakmi.kaltura.com/p/33942/sp/3394200/thumbnail/entry_id/1_11nv3doz/version/100022/acv/232",
                  "accessControlId": 33627,
                  "startDate": null,
                  "endDate": null,
                  "referenceId": "1_izramf08",
                  "replacingEntryId": "",
                  "replacedEntryId": "",
                  "replacementStatus": "0",
                  "partnerSortValue": 0,
                  "conversionProfileId": 4573522,
                  "redirectEntryId": "",
                  "rootEntryId": "1_11nv3doz",
                  "operationAttributes": [],
                  "entitledUsersEdit": "",
                  "entitledUsersPublish": ""
                }
              ],
              "meta": {
                "total": 4
              }
            }

# Group Filters and Pagers
<a name="reference/Filters%20and%20Pagers"></a>
## FilterPager
Inherits from [KalturaFilterPager](http://video.panda-os.com/api_v3/testmeDoc/objects/KalturaFilterPager.html)

+ Properties
    + pageSize (int) The number of objects to retrieve. (Default is 30, maximum page size is 500).
    + pageIndex (int) The page number for which {pageSize} of objects should be retrieved (Default is 1).

## BaseEntryFilter
Inherits from [KalturaBaseEntryFilter](http://video.panda-os.com/api_v3/testmeDoc/objects/KalturaBaseEntryFilter.html)

+ Properties
    + idEqual    (string)    This filter should be in use for retrieving only a specific entry (identified by its entryId).
    + idIn    (string)    This filter should be in use for retrieving few specific entries (string should include comma separated list of entryId strings).
    + idNotIn    (string)    
    + nameLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry names (no wildcards, spaces are treated as part of the string).
    + nameMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry names, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + nameMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry names, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + nameEqual    (string)    This filter should be in use for retrieving entries with a specific name.
    + partnerIdEqual    (int)    This filter should be in use for retrieving only entries which were uploaded by/assigned to users of a specific Kaltura Partner (identified by Partner ID).
    + partnerIdIn    (string)    This filter should be in use for retrieving only entries within Kaltura network which were uploaded by/assigned to users of few Kaltura Partners (string should include comma separated list of PartnerIDs)
    + userIdEqual    (string)    This filter parameter should be in use for retrieving only entries, uploaded by/assigned to a specific user (identified by user Id).
    + userIdIn    (string)    
    + userIdNotIn    (string)    
    + creatorIdEqual    (string)    
    + tagsLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry tags (no wildcards, spaces are treated as part of the string).
    + tagsMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + tagsMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + adminTagsLike    (string)    This filter should be in use for retrieving specific entries. It should include only one string to search for in entry tags set by an ADMIN user (no wildcards, spaces are treated as part of the string).
    + adminTagsMultiLikeOr    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, set by an ADMIN user, while applying an OR logic to retrieve entries that contain at least one input string (no wildcards, spaces are treated as part of the string).
    + adminTagsMultiLikeAnd    (string)    This filter should be in use for retrieving specific entries. It could include few (comma separated) strings for searching in entry tags, set by an ADMIN user, while applying an AND logic to retrieve entries that contain all input strings (no wildcards, spaces are treated as part of the string).
    + categoriesMatchAnd    (string)    
    + categoriesMatchOr    (string)    All entries within these categories or their child categories.
    + categoriesNotContains    (string)    
    + categoriesIdsMatchAnd    (string)    
    + categoriesIdsMatchOr    (string)    All entries of the categories, excluding their child categories. To include entries of the child categories, use categoryAncestorIdIn, or categoriesMatchOr.
    + categoriesIdsNotContains    (string)    
    + categoriesIdsEmpty    (KalturaNullableBoolean)    
    + statusEqual    (KalturaEntryStatus)    This filter should be in use for retrieving only entries, at a specific KalturaEntryStatus
    + statusNotEqual    (KalturaEntryStatus)    This filter should be in use for retrieving only entries, not at a specific KalturaEntryStatus
    + statusIn    (string)    This filter should be in use for retrieving only entries, at few specific KalturaEntryStatus
    + statusNotIn    (string)    This filter should be in use for retrieving only entries, not at few specific KalturaEntryStatus
    + moderationStatusEqual    KalturaEntryModerationStatus    
    + moderationStatusNotEqual    KalturaEntryModerationStatus    
    + moderationStatusIn    (string)    
    + moderationStatusNotIn    (string)    
    + typeEqual    (KalturaEntryType)    
    + typeIn    (string)    This filter should be in use for retrieving entries of few types
    + createdAtGreaterThanOrEqual (int)   This filter parameter should be in use for retrieving only entries which were created at Kaltura system after a specific time/date (standard timestamp format).
    + createdAtLessThanOrEqual    (int)   This filter parameter should be in use for retrieving only entries which were created at Kaltura system before a specific time/date (standard timestamp format).
    + updatedAtGreaterThanOrEqual (int)
    + updatedAtLessThanOrEqual    (int)
    + totalRankLessThanOrEqual    (int)
    + totalRankGreaterThanOrEqual (int)
    + groupIdEqual    (int)
    + searchTextMatchAnd    (string)    This filter should be in use for retrieving specific entries while search match the input string within all of the following metadata attributes: name, description, tags, adminTags.
    + searchTextMatchOr    (string)    This filter should be in use for retrieving specific entries while search match the input string within at least one of the following metadata attributes: name, description, tags, adminTags.
    + accessControlIdEqual    (int)    
    + accessControlIdIn    (string)    
    + startDateGreaterThanOrEqual    (int)    
    + startDateLessThanOrEqual    (int)    
    + startDateGreaterThanOrEqualOrNull    (int)    
    + startDateLessThanOrEqualOrNull    (int)    
    + endDateGreaterThanOrEqual    (int)    
    + endDateLessThanOrEqual    (int)    
    + endDateGreaterThanOrEqualOrNull    (int)    
    + endDateLessThanOrEqualOrNull    (int)    
    + referenceIdEqual    (string)    
    + referenceIdIn    (string)    
    + replacingEntryIdEqual    (string)    
    + replacingEntryIdIn    (string)    
    + replacedEntryIdEqual    (string)    
    + replacedEntryIdIn    (string)    
    + replacementStatusEqual    (KalturaEntryReplacementStatus)    
    + replacementStatusIn    (string)    
    + partnerSortValueGreaterThanOrEqual    (int)    
    + partnerSortValueLessThanOrEqual    (int)    
    + rootEntryIdEqual    (string)    
    + rootEntryIdIn    (string)    
    + parentEntryIdEqual    (string)    
    + entitledUsersEditMatchAnd    (string)    
    + entitledUsersEditMatchOr    (string)    
    + entitledUsersPublishMatchAnd    (string)    
    + entitledUsersPublishMatchOr    (string)    
    + tagsNameMultiLikeOr    (string)    
    + tagsAdminTagsMultiLikeOr    (string)    
    + tagsAdminTagsNameMultiLikeOr    (string)    
    + tagsNameMultiLikeAnd    (string)    
    + tagsAdminTagsMultiLikeAnd    (string)    
    + tagsAdminTagsNameMultiLikeAnd    (string)

# Group Authentication

## Token [/token?format=json]

### Authenticate User [POST]

In order to succesfully login a user, we need to first get a valid token by sending user
password and account id

+ Request (application/json;charset=UTF-8)

        {
            "accountId": "54632dd76803fa81163fbc75",
            "id": "demo@panda-os.com",
            "password": "123456"
        }

+ Response 200 (application/json)

        {
            "accountId": "54632ceb6803fabe223fbc75",
            "token": "token=="
        }

+ Response 401 (application/json)
    + Headers

            X-Bamboo-Message: Login failed, please check your Email and Password

    + Body

            {
                "data": []
            }

### Logout User [DELETE]

Logout user is used to logout the current user and remove its cookie

+ Request (application/json)

        {
            "id": 0
        }

+ Response 200 (application/json)

        [
        ]

## Session [/session?format=json]

### Session [GET]

Gets the current session token

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        {
        "session":"djJ8MjEwODEwMXyQ9oMxnuBNxmCalO_JCq2sK3iW5XMla2tbjil6bKhYXoS0KG9GUdvCSl8EeZ66_3-vL7I1191LDfifcAmgnGb-9HgYQdhoHYx1odNJL0s91EK94Zw6v-a1dpnBTm1SXYr9QKe1apcWYPVe11BLDWU1ejvFo8HcJr0DKPw952pOaZtGbtwTmct9mO6Iuvv7ubk="
        }
        
# Group Purchases

## Purchasing [/user/0/purchase?format=json]

### List all Purchases [GET]

Retrieves the current user's purchases

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        [
            {
              "type": 1,
              "objectId": "<ENTRY_ID>",
              "service": 2
            }
        ]

### Add a Purchase [POST]

Finallizes a purchase for a user

+ Request (application/json;charset=UTF-8)

        {
            "type": 1,
            "objectId": "<ENTRY_ID>",
            "service": 2,
            "price": "<ENTRY_PRICE>",
            "info": {
                "<INFO_KEY>":"<INFO_VALUE>"
            }
        }

+ Response 200 (application/json)

        {
            "result": true
        }

## Validation [/user/0/purchase/{objectId}?format=json]
A single User object with all its properties

+ Parameters
    + objectId (required, string, `1231315151`) ... string `id` MongoId of the purchased object to perform action with.
    
### Validate Purchase [GET]

Performs a validation process to check if the user has purchased an object with the given ID

+ Request (application/json;charset=UTF-8)


+ Response 200 (application/json)

        {
            "result": true
        }